.meta
  color: #FFF
  font-size: 12px
  font-weight: 400
  line-height: 1
  text-transform: uppercase
  padding: 8px 15px
  border-radius: $border-radius
  max-width: fit-content
  @media #{$tablet}
    padding: 8px
  @media #{$mobile-small}
    font-size: 10px
  &--new
    background: $title-second-color
  &--hit
    background: #B99D7B
  &--sale
    background: #E99242

.favorite
  position: relative
  max-width: 30px
  max-height: 30px
  border-radius: 50%
  z-index: 1000
  cursor: progress
  &__icon
    max-width: 30px
    max-height: 30px

.slider-button
  min-width: $swiper-button-size
  min-height: $swiper-button-size
  border-radius: 50%
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none'%3E%3Ccircle cx='18' cy='18' r='18' transform='rotate(-180 18 18)' fill='%237AA04B'/%3E%3Cpath d='M16.5609 22.3199L20.1738 18.7071C20.5643 18.3165 20.5643 17.6834 20.1738 17.2928L16.5609 13.6799' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E")
  background-position: center
  background-repeat: no-repeat
  margin-top: 0
  top: 0
  z-index: 100
  &--prev
    transform: rotate(180deg)
  &:after
    display: none

.card
  position: relative
  overflow: hidden
  border-radius: 12px
  background: #FCF7F4
  max-width: 390px
  &:hover
    & .card__house-top:after, .card__house-top:before
      opacity: 1
    & .card__info-hidden
      position: static
      opacity: 1
      width: max-content
  &__house-top
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-image: url("../images/hit/hit-2.jpg")
    @supports (background-image: url("../images/hit/hit-2.webp"))
      background-image: url("../images/hit/hit-2.webp")

    min-height: 280px
    &:before, &:after
      pointer-events: none
      opacity: 0
      transition: opacity .4s
    &:before
      position: absolute
      content: ''
      inset: 0
      background: linear-gradient(0deg, rgba(68, 68, 68, 0.50) 0%, rgba(68, 68, 68, 0.50) 100%), linear-gradient(180deg, rgba(51, 51, 51, 0.30) 0%, rgba(51, 51, 51, 0.00) 33.21%)
    &:after
      position: absolute
      content: ''
      width: 72px
      height: 72px
      border-radius: 50%
      background-color: $title-second-color
      inset: calc(50% - 36px)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M26.9985 27V14.4424C26.9985 14.303 26.9694 14.1652 26.9131 14.0378C26.8567 13.9104 26.7743 13.7962 26.6712 13.7024L16.6705 4.61054C16.4865 4.44318 16.2466 4.35046 15.9978 4.35046C15.749 4.35047 15.5092 4.44322 15.3251 4.61058L5.3258 13.7024C5.22272 13.7962 5.14036 13.9104 5.084 14.0378C5.02765 14.1652 4.99854 14.303 4.99854 14.4423V27' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.99854 27H29.9985' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.998 26.999V19.999C18.998 19.7337 18.8927 19.4794 18.7052 19.2919C18.5176 19.1043 18.2633 18.999 17.998 18.999H13.998C13.7328 18.999 13.4785 19.1043 13.2909 19.2919C13.1034 19.4794 12.998 19.7337 12.998 19.999V26.999' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: 32px

  &__meta-inner
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 20px 20px 0 20px

  &__meta-box
    display: flex
    align-items: center
    gap: 6px
    margin-right: auto

  &__house-subtitle
    @include text-custom(12px ,400, #fff)
    @include text-position
    padding: 6px 15px
    border-radius: 12px 12px 0px 0px
    background: rgba(255, 255, 255, 0.30)
    backdrop-filter: blur(10px)
    max-width: fit-content
    margin: 0 auto

  &__house-title
    @include text-position
    @include text-subtitle(#fff)
    padding: 12px 0
    background: rgba(122, 160, 75, 0.30)
    backdrop-filter: blur(10px)
    @media #{$tablet}
      font-size: 14px

  &__house-bottom
    display: flex
    padding: 20px
    gap: 30px
    @media #{$tablet-small}
      gap: 14px
      padding: 14px

  &__metre
    @include text-subtitle($title-second-color)
    white-space: nowrap
    @media #{$tablet}
      font-size: 14px

  &__price-now
    @include text-subtitle(#B99D7B)
    white-space: nowrap
    @media #{$tablet}
      font-size: 14px
    &--next
      color: rgba(177, 100, 100, 1)

  &__price-month
    white-space: nowrap
    @include text-custom
    opacity: .5
    margin-top: 6px
    @media #{$tablet}
      font-size: 12px

  &__link
    position: absolute
    width: 100%
    height: 100%
    bottom: 0
    
  &__house-info
    background: rgba(255, 255, 255, 0.30)
    backdrop-filter: blur(10px)
    padding: 12px
    max-width: fit-content
    margin-left: 20px
    border-bottom-right-radius: 12px
    border-bottom-left-radius: 12px

  &__info-item
    display: flex
    align-items: center
    color: #FFF
    font-size: 12px
    font-weight: 400
    line-height: 100%
    &:before
      content: ''
      min-width: 16px
      height: 16px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      margin-right: 6px
    &:not(:last-child)
      margin-bottom: 14px
    &--project
      &:before
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.5 13.5001V7.22124C13.5 7.15157 13.4854 7.08267 13.4573 7.01896C13.4291 6.95525 13.3879 6.89814 13.3363 6.85127L8.336 2.30533C8.24396 2.22165 8.12403 2.17529 7.99964 2.17529C7.87525 2.1753 7.75532 2.22167 7.66329 2.30535L2.66363 6.85128C2.61209 6.89814 2.57091 6.95525 2.54273 7.01896C2.51456 7.08267 2.5 7.15156 2.5 7.22122V13.5001' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 13.5H15' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 13.4995V9.99951C9.5 9.8669 9.44732 9.73973 9.35355 9.64596C9.25978 9.55219 9.13261 9.49951 9 9.49951H7C6.86739 9.49951 6.74021 9.55219 6.64645 9.64596C6.55268 9.73973 6.5 9.8669 6.5 9.99951V13.4995' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    &--dimensions
      &:before
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8.75 3H7.25' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.25 13H8.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 3H12.5C12.6326 3 12.7598 3.05268 12.8536 3.14645C12.9473 3.24022 13 3.3674 13 3.50001V4.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 8.75V7.25' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 7.25V8.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.75 13H3.5C3.36739 13 3.24022 12.9473 3.14645 12.8536C3.05268 12.7598 3 12.6326 3 12.5V11.25' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.75 3H3.5C3.36739 3 3.24021 3.05268 3.14645 3.14645C3.05268 3.24022 3 3.3674 3 3.50001V4.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 11.25V14.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.75 13H11.25' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    &--square
      &:before
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10 5.49963H3C2.72386 5.49963 2.5 5.72349 2.5 5.99963V12.9996C2.5 13.2758 2.72386 13.4996 3 13.4996H10C10.2761 13.4996 10.5 13.2758 10.5 12.9996V5.99963C10.5 5.72349 10.2761 5.49963 10 5.49963Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 2.5H9' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5 2.5H13C13.1326 2.5 13.2598 2.55268 13.3536 2.64645C13.4473 2.74021 13.5 2.86739 13.5 3V3.49998' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.5 7V6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5 10.5H13C13.1326 10.5 13.2598 10.4473 13.3536 10.3536C13.4473 10.2598 13.5 10.1326 13.5 10V9.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.5 2.5H6C5.86739 2.5 5.74021 2.55268 5.64645 2.64645C5.55268 2.74021 5.5 2.86739 5.5 3V3.49998' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")

  &__info-hidden
    position: absolute
    left: -999px
    top: -999px
    opacity: 0
    width: 1px
    transition: opacity .3s


.custom-select
  & .itc-select__toggle
    @include text-custom(14px)
    font-style: normal
    border-radius: 60px
    border: 1px solid #B99D7B
    &:after
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='16' transform='rotate(-90 16 16)' fill='%23B99D7B'/%3E%3Cpath d='M12.1602 14.7205L15.2931 17.8534C15.6836 18.244 16.3167 18.244 16.7073 17.8534L19.8402 14.7205' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E")
      width: 32px
      height: 32px

.custom-pagination
  display: flex
  align-items: center
  @media #{$mobile}
  & .swiper-pagination-bullet
    width: 10px
    height: 10px
    background-color: rgba(122, 160, 75, .2)
    opacity: 1
    transition: all .4s
  & .swiper-pagination-bullet-active
    background-color: rgba(122, 160, 75, 1)
    width: 16px
    height: 16px

.control
  position: relative
  display: flex
  align-items: center
  justify-content: center
  max-width: fit-content
  margin: 20px auto 0 auto
  &__pagination
    position: static
  &__button
    position: static

.mobile-menu
  display: none
  transform: translateX(100%)
  position: fixed
  opacity: 0
  visibility: hidden
  top: 0
  right: 0
  z-index: -1
  height: 100%
  width: 100%
  transition: all .4s
  padding-bottom: 54px
  @media #{$tablet}
    display: block
  &.open
    display: flex
    justify-content: flex-end
    z-index: 10000
    opacity: 1
    visibility: visible
    transform: translateY(0)
    height: 100vh
  &__body
    position: relative
    background-color: white
    height: 100vmax
    width: 80vw
    padding: 40px 18px 84px 18px
    overflow-y: auto
  &__down
    max-width: 8px
    max-height: 8px
    margin-left: 10px
    transition: transform .2s
    &.rotate
      transform: rotate(180deg)

  &__list
    margin-bottom: 42px

  &__sub-list
    display: none
    &.active
      display: block
  & .logo
    margin: 0 auto 18px auto

  &__city-trigger
    @include mobile-menu-text
    text-align: center
    margin: 0 auto 20px auto
    width: 100%

  &__button-icon
    @extend .mobile-menu__down

  &__city-body
    display: none

  &__item
    padding-bottom: 18px
    border-bottom: 1px solid rgba(0, 0, 0, .1)
    margin-bottom: 12px

  &__sub-list
    margin-top: 22px
    &--second
      margin-bottom: 24px

  &__sub-item
    @include mobile-menu-text
    font-size: 12px
    &:not(:last-child)
      padding-bottom: 12px

  &__city-link, &__sub-link, &__sub-link-second
    font-size: inherit
    line-height: inherit
    color: inherit

  &__item-sub-second
    display: flex
    align-items: center
    &:before
      display: block
      content: ''
      min-width: 9px
      height: 9px
      margin-right: 8px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='12' viewBox='0 0 11 12' fill='none'%3E%3Cpath d='M10.5 11.5H4.5C2.29086 11.5 0.5 9.70914 0.5 7.5V0.5' stroke='%237AA04B'/%3E%3C/svg%3E")
      background-size: cover
      background-position: center
      background-repeat: no-repeat
    &:not(:last-child)
      padding-bottom: 12px

  &__info-inner
    @extend .header__info-inner
    display: flex!important
    margin-bottom: 22px

  &__info
    @extend .header__info

  &__info-text
    @extend .header__info-text

  &__social-list
    @extend .header__social-list
    display: flex!important

  &__social-item
    @extend .header__social-item

  &__social-item-link
    @extend .header__social-item-link

  &__social-icon
    @extend .header__social-icon

  &__close-icon
    position: absolute
    max-width: 24px
    max-height: 24px
    top: 20px
    right: 20px

.itc-select__dropdown
  border-radius: 12px
  background: #FFF
  box-shadow: 0 4px 51px 0 rgba(0, 0, 0, 0.25)
  backdrop-filter: blur(7.5px)
  padding: 20px
  top: 3.5rem

.itc-select__option
  color: #535353
  font-size: 14px
  font-weight: 400
  line-height: 100%
  transition: color .4s
  &:hover
    background: none
    color: #B99D7B
  &:not(:last-child)
    padding-bottom: 15px
  &_selected
    background: none
    color: #B99D7B
    &:after
      content: ''
      width: 18px
      height: 18px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M14.625 4.5L6.75 13.5L3.375 10.125' stroke='%23B99D7B' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      background-size: cover
      background-position: center
      background-repeat: no-repeat

.other-cards
  &__thumb
    display: flex
    align-items: center
    gap: 20px
    margin: 20px 0
    
  &__coordinates
    display: flex
    align-items: center
    justify-content: center
    color: #535353
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 100%
    &:before
      content: ''
      min-width: 20px
      height: 20px
      margin-right: 8px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M10.5 11.405C11.8807 11.405 13 10.2857 13 8.905C13 7.52429 11.8807 6.405 10.5 6.405C9.11929 6.405 8 7.52429 8 8.905C8 10.2857 9.11929 11.405 10.5 11.405Z' stroke='%237AA04B' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.75 8.905C16.75 14.53 10.5 18.905 10.5 18.905C10.5 18.905 4.25 14.53 4.25 8.905C4.25 7.2474 4.90848 5.65768 6.08058 4.48558C7.25269 3.31348 8.8424 2.655 10.5 2.655C12.1576 2.655 13.7473 3.31348 14.9194 4.48558C16.0915 5.65768 16.75 7.2474 16.75 8.905V8.905Z' stroke='%237AA04B' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      background-size: cover
      background-position: center
      background-repeat: no-repeat

.simple-rating
  display: inline-block
  position: relative
  font-size: 18px
  &:before
    content: '★★★★★'
    display: block
  &__items
    position: absolute
    display: flex
    flex-direction: row-reverse
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: hidden

  &__item
    position: absolute
    width: 0%
    height: 0%
    opacity: 0
    visibility: hidden
    top: 0
    left: 0
    &:checked ~ .simple-rating__label
      color: #FFE269

  &__label
    flex: 0 0 20%
    height: 100%
    cursor: pointer
    color: rgba(255, 255, 255, .4)
    &:before
      content: '★'
      display: block
      transition: color .3s ease 0s
    &:hover,
    &:hover ~ .simple-rating__label,
    &:checked ~ .simple-rating__label:hover
      color: #FFE269


