<section class="gallery">
  <div class="container">
    <div class="gallery__swiper-container">
      <div class="gallery__swiper swiper" data-gallery>
        <div class="gallery__swiper-wrapper swiper-wrapper">
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
          <div class="gallery__slide swiper-slide">
            <img src="./assets/images/gallery/1.jpg" alt="Фото">
            <p class="gallery__subtitle">Каркасный коттедж "Гагарин"</p>
          </div>
        </div>
      </div>

      <div class="gallery__thumb-container">
        <div class="gallery__thumb swiper" data-gallery-thumb>
          <div class="gallery__thumb-wrapper swiper-wrapper">
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
            <div class="gallery__thumb-slide swiper-slide">
              <img src="./assets/images/gallery/thumb-1.jpg" alt="Фото">
            </div>
          </div>

          <div class="gallery__thumb-scrollbar swiper-scrollbar"></div>
        </div>
        <div class="gallery__thumb-control-inner control">
          <div class="gallery__thumb-slider-button gallery__thumb-slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-gallery-thumb-prev></div>
          <div class="gallery__thumb-pagination swiper-pagination custom-pagination control__pagination" data-gallery-thumb-pagination></div>
          <div class="gallery__thumb-slider-button gallery__thumb-slider-button--next slider-button slider-button--next swiper-button-next control__button" data-gallery-thumb-next></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />-->
