<section class="commercial">
  <div class="container">
    <div class="commercial__wrapper commercial__wrapper--categories">
      <div class="commercial__form">
        <h2 class="commercial__title">Экскурсию на производство Вашего дома</h2>
        <p class="commercial__text">Записывайтесь на ближайший просмотр строящегося дома! Мы расскажем о всех этапах строительства, копмлектаций и стоимости</p>
        <form class="commercial__form">
          <fieldset class="commercial__form-wrapper">
            <label class="commercial__label"><input class="commercial__input" type="text" name="Name" placeholder="Ваше имя"></label>
            <label class="commercial__label"><input class="commercial__input" type="tel" name="Phone" placeholder="+7 ХХХ ХХХ ХХ ХХ"></label>
            <button class="commercial__button" type="button">Записаться</button>
          </fieldset>
          <label class="commercial__checkbox-inner">
            <input class="commercial__checkbox" type="checkbox" hidden checked>
            <span class="commercial__fake-checkbox"></span>
            <span class="commercial__politic-inner">Я согласен на обработку <a class="commercial__politic" href="#">персональных данных</a></span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>