<section class=" our-service">
  <div class="container">
    <h1 class="our-service__title">Наши <span>услуги</span></h1>
    <div class="our-service__wrapper">
      <div class="our-service__card card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-4.jpg" data-bg-webp="./assets/images/hit/hit-4.webp">
            <div class="card__text-inner-top">
              <a class="card__house-title" href="#">Кредитование</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-service__card card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-5.jpg" data-bg-webp="./assets/images/hit/hit-5.webp">
            <div class="card__text-inner-top">
              <a class="card__house-title" href="#">Материнский капитал</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-service__card card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-6.jpg" data-bg-webp="./assets/images/hit/hit-6.webp">
            <div class="card__text-inner-top">
              <a class="card__house-title" href="#">Реконструкции</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-service__card card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-7.jpg" data-bg-webp="./assets/images/hit/hit-7.webp">
            <div class="card__text-inner-top">
              <a class="card__house-title" href="#">Работы с фундаментом</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-service__card our-service__card--big card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-8.jpg" data-bg-webp="./assets/images/hit/hit-8.webp">
            <div class="our-service__card-big card__text-inner-top">
              <p class="card__subtitle">Коммуникации</p>
              <a class="card__house-title" href="#">Системы отопления</a>
              <a class="card__house-title" href="#">Водоснабжение</a>
              <a class="card__house-title" href="#">Электромонтажные работы</a>
              <a class="card__house-title" href="#">Выгребная яма</a>
              <a class="card__house-title" href="#">Заборы</a>
            </div>
          </div>
        </div>
      </div>
      <div class="our-service__card our-service__card--big card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-8.jpg" data-bg-webp="./assets/images/hit/hit-8.webp">
            <div class="our-service__card-big card__text-inner-top">
              <p class="card__subtitle">Проектирование</p>
              <a class="card__house-title" href="#">Согласование конструктива и архитектуры дома</a>
              <a class="card__house-title" href="#">Проектирование дома с привязкой к земельному участку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>