.hero
  position: relative
  background: linear-gradient(180deg, #FCF7F4 0%, #EFE3DB 100%)
  border-bottom-left-radius: $border-radius
  border-bottom-right-radius: 50px
  max-width: 2560px
  margin: 0 auto
  overflow: hidden
  @include section-indent-margin
  @media #{$tablet}
    min-height: 782px
  @media #{$mobile}
    border-bottom-right-radius: 40px
  @media #{$mobile-small}
    border-bottom-left-radius: 0
  &:before
    position: absolute
    content: ''
    width: 996px
    height: 996px
    background: radial-gradient(50% 50% at 50% 50%, #FFFCFB 0%, rgba(255, 252, 251, 0.00) 100%)
    top: -20%
    right: -10%
    z-index: 1
    pointer-events: none
  &--welcome
    & .hero__text
      max-width: 640px
      &--bold
        font-weight: 600
      & span
        color: #7AA04B

  & .swiper-lazy-preloader
    margin-left: 0
    margin-top: 0
    left: calc(70% + 30px)
  &__wrapper
    padding: 238px 0 176px calc((100% - 1200px)/2)
    @media #{$notebook-small}
      padding-left: 15px
      padding-right: 15px
    @media #{$tablet}
      padding-top: 120px
    @media #{$mobile}
      padding-bottom: 0

  &__title
    margin-bottom: 36px
    @media #{$tablet}
      margin-bottom: 28px
    &--small
      font-size: 40px
      @media #{$notebook}
        font-size: 28px
      @media #{$tablet}
        font-size: 28px

  &__list
    margin-bottom: 36px

  &__list-item
    @include li-custom
    @include text-custom(18px, 400)
    &:not(:last-child)
      margin-bottom: 32px

  &__link
    @include button
    @include button-padding
    @media #{$mobile}
      max-width: 100%

  &__swiper-text-pagination.swiper-pagination
    bottom: 90px
    left: max(15px, calc((100% - 1200px)/2))
    @media #{$mobile}
      position: relative
      padding-bottom: 280px
      bottom: -22px
      left: calc(50% - 40px)

  &__swiper-img
    position: absolute
    right: 0
    bottom: 0
    max-width: 828px
    max-height: 716px
    height: 50vw
    width: 55vw
    min-width: 320px
    min-height: 280px
    @supports (height: clamp(280px,50vw,716px))
      height: clamp(280px,50vw,716px)
    @supports (width: clamp(320px, 55vw, 828px))
      width: clamp(320px, 55vw, 828px)



  &__swiper-text
    position: relative
    z-index: 10

  &__swiper-text-slide
    opacity: 0!important
    background-color: inherit
    &.swiper-slide-active
      opacity: 1!important

  &__round-inner
    position: absolute
    bottom: -17px
    right: max(30px, calc((100% - 1600px)/2))
    z-index: 1
    @media #{$mobile}
      bottom: -24px

  &__round
    min-width: 380px
    max-height: 91px
    @media #{$mobile}
      min-width: 300px

  &__round-text-inner
    position: absolute
    cursor: pointer
    top: 50%
    left: calc(52%)
    transform: translate(-50%, -50%)
    &:before
      position: absolute
      content: ''
      width: 42px
      height: 42px
      border-radius: 50%
      left: -42px
      top: 50%
      transform: translateY(-50%)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42' fill='none'%3E%3Ccircle cx='21' cy='21' r='21' fill='%237AA04B'/%3E%3Cpath d='M28 20.5L16.75 26.9952L16.75 14.0048L28 20.5Z' fill='white'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      @media #{$mobile}
        width: 32px
        height: 32px
        left: -26px


  &__round-subtitle
    @include text-custom(16px, 500)
    margin-bottom: 6px
  &__round-text
    @include text-custom(12px,400, rgba(83, 83, 83, .5))

  &__round-subtitle, &__round-text
    margin-left: 15px
    width: 100%

  &__text
    position: relative
    max-width: 592px
    margin-bottom: 30px

  &__video
    position: relative
    display: block
    border-radius: 12px
    overflow: hidden
    margin-left: 34px
    cursor: pointer
    max-width: 590px
    @media #{$tablet}
      margin-left: 0
    &:before, &:after
      position: absolute
      content: ''
      inset: 0
      pointer-events: none
    &:before
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%)
    &:after
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42' fill='none'%3E%3Ccircle cx='21' cy='21' r='21' fill='%237AA04B'/%3E%3Cpath d='M28 20.5L16.75 26.9952L16.75 14.0048L28 20.5Z' fill='white'/%3E%3C/svg%3E")
      background-position: center
      background-repeat: no-repeat
      background-size: 42px


  &--job
    background-size: 600px, cover
    background-position: right bottom
    background-repeat: no-repeat
    background-image: url("../images/hero/job/1.png")
    @supports (background-image: url("../images/hero/job/1.webp"))
      background-image: url("../images/hero/job/1.webp")
    @include section-indent-padding
    &:before
      background: linear-gradient(180deg, #FCF7F4 0%, #EFE3DB 100%)
      inset: 0
      z-index: -1
      width: auto
      height: auto
    @media #{$notebook}
      background-size: 45%
    @media #{$tablet}
      min-height: unset
      padding-bottom: 170px
      background-size: 220px
    & .hero__wrapper
      position: relative
      padding-top: 100px
      z-index: 10
      padding-bottom: 0
      @media #{$notebook}
        padding-top: 80px
      @media #{$tablet}
        padding-top: 60px
      @media #{$tablet-small}
        padding-top: 40px
      @media #{$mobile}
        padding-top: 20px
    & .bread-crumbs
      padding-bottom: 0
  &--welcome
    position: relative
    background: #EFE3DB
    &:before
      position: absolute
      content: ''
      inset: 0
      background-position: right 25% bottom
      background-repeat: no-repeat
      background-image: url("../images/hero/hero-welcome.png")
      @supports (background-image: url("../images/hero/hero-welcome.webp"))
        background-image: url("../images/hero/hero-welcome.webp")
      background-size: min(23%,423px)
      width: 100%
      height: 100%
      @media #{$tablet-small}
        background-size: 220px
        background-position: right bottom
    & .hero__wrapper
      padding-bottom: 92px
      @media #{$tablet-small}
        padding-bottom: 270px

  &--build
    @media #{$tablet}
      min-height: unset
    &:before
      display: none

    & .hero__wrapper
      display: flex
      align-items: center
      gap: 24px
      @media #{$tablet}
        flex-direction: column
        padding-bottom: 50px
        align-items: flex-start
        & br
          display: none
    & .hero__text
      margin-bottom: 0

  &--show
    &:before
      display: none
    & .hero__wrapper
      display: flex
      align-items: center
      gap: 24px
      padding-bottom: 80px
      @media #{$tablet}
        flex-direction: column
        padding-bottom: 50px
        align-items: flex-start
        & br
          display: none
    & p
      position: relative
      max-width: 592px
      margin-bottom: 30px





