<section class="best">
  <div class="container">
    <h2 class="best__title">Дома на <span class="best__color">выставке</span></h2>
    <div class="best__swiper-container">
      <div class="best__swiper swiper" data-best-swiper>
        <div class="best__swiper-wrapper swiper-wrapper">
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
                <div class="card__meta-inner">
                  <div class="card__meta-box">
                    <div class="meta meta--new">НОВИНКА</div>
                    <div class="meta meta--sale">СКИДКА 25%</div>
                    <div class="meta meta--hit">ХИТ</div>
                  </div>
                  <button class="favorite" data-favorite-button>
                    <svg class="favorite__icon">
                      <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                    </svg>
                  </button>
                </div>
                <div class="card__text-inner-top">
                  <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                  <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
                </div>
              </div>
              <div class="card__house-bottom">
                <p class="card__metre">126 м<sub>2</sub></p>
                <div class="card__price-inner">
                  <p class="card__price-now">3 484 053 ₽</p>
                  <p class="card__price-month">Цена в феврале</p>
                </div>
                <div class="card__price-inner">
                  <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                  <p class="card__price-month">Цена в Марте</p>
                </div>
              </div>
            </div>
            <a class="card__link" href="#"></a>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-2.jpg" data-bg-webp="./assets/images/hit/hit-2.webp">
                <div class="card__meta-inner">
                  <div class="card__meta-box">
                    <div class="meta meta--new">НОВИНКА</div>
                    <div class="meta meta--sale">СКИДКА 25%</div>
                    <div class="meta meta--hit">ХИТ</div>
                  </div>
                  <button class="favorite" data-favorite-button>
                    <svg class="favorite__icon">
                      <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                    </svg>
                  </button>
                </div>
                <div class="card__text-inner-top">
                  <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                  <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
                </div>
              </div>
              <div class="card__house-bottom">
                <p class="card__metre">126 м<sub>2</sub></p>
                <div class="card__price-inner">
                  <p class="card__price-now">3 484 053 ₽</p>
                  <p class="card__price-month">Цена в феврале</p>
                </div>
                <div class="card__price-inner">
                  <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                  <p class="card__price-month">Цена в Марте</p>
                </div>
              </div>
            </div>
            <a class="card__link" href="#"></a>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
                <div class="card__meta-inner">
                  <div class="card__meta-box">
                    <div class="meta meta--new">НОВИНКА</div>
                    <div class="meta meta--sale">СКИДКА 25%</div>
                    <div class="meta meta--hit">ХИТ</div>
                  </div>
                  <button class="favorite" data-favorite-button>
                    <svg class="favorite__icon">
                      <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                    </svg>
                  </button>
                </div>
                <div class="card__text-inner-top">
                  <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                  <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
                </div>
              </div>
              <div class="card__house-bottom">
                <p class="card__metre">126 м<sub>2</sub></p>
                <div class="card__price-inner">
                  <p class="card__price-now">3 484 053 ₽</p>
                  <p class="card__price-month">Цена в феврале</p>
                </div>
                <div class="card__price-inner">
                  <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                  <p class="card__price-month">Цена в Марте</p>
                </div>
              </div>
            </div>
            <a class="card__link" href="#"></a>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
                <div class="card__meta-inner">
                  <div class="card__meta-box">
                    <div class="meta meta--new">НОВИНКА</div>
                    <div class="meta meta--sale">СКИДКА 25%</div>
                    <div class="meta meta--hit">ХИТ</div>
                  </div>
                  <button class="favorite" data-favorite-button>
                    <svg class="favorite__icon">
                      <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                    </svg>
                  </button>
                </div>
                <div class="card__text-inner-top">
                  <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                  <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
                </div>
              </div>
              <div class="card__house-bottom">
                <p class="card__metre">126 м<sub>2</sub></p>
                <div class="card__price-inner">
                  <p class="card__price-now">3 484 053 ₽</p>
                  <p class="card__price-month">Цена в феврале</p>
                </div>
                <div class="card__price-inner">
                  <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                  <p class="card__price-month">Цена в Марте</p>
                </div>
              </div>
            </div>
            <a class="card__link" href="#"></a>
          </div>
        </div>
      </div>
      <div class="best__control-inner control">
        <div class="best__slider-button best__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-best-prev></div>
        <div class="best__pagination swiper-pagination custom-pagination control__pagination" data-best-pagination></div>
        <div class="best__slider-button best__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-best-next></div>
      </div>
      <a class="best__link" href="#">Смотреть все предложения</a>
    </div>
  </div>
</section>

