<section class="hero hero--welcome">
  <div class="hero__wrapper">
      <h1 class="hero__title hero__title--small">Добро пожаловать <br> в компанию <span>Белый Дом</span></h1>
      <p class="hero__text">Прежде всего я хотел бы поблагодарить Вас за интерес к нашей компании. Позволю себе в нескольких словах охарактеризовать деятельность, которой мы занимаемся на протяжении многих лет.</p>
      <p class="hero__text">Мы строим дачные дома и коттеджи. В своей деятельности мы учитываем пожелания и возможности заказчика. Все готовые архитектурные решения, которые представлены на сайте, адаптированы под условия российского климата. Любой понравившийся вам проект можно дополнить и изменить — добавить мансарду или второй этаж, изменить планировку, комплектацию или архитектурный стиль <br>Мы делаем всё для того, чтобы претворить вашу идею в жизнь. МЫ - СТРОИМ!</p>
      <p class="hero__text hero__text--bold">Генеральный директор: <span>Носов Андрей Александрович</span></p>
    <div class="hero__round-inner"><svg class="hero__round"><use xlink:href="./assets/images/svg/set.svg#hero-round"></use></svg>
      <div class="hero__round-text-wrapper">
        <a class="hero__round-text-inner" data-fancybox="hero-about-video" data-src="https://youtu.be/EgTGPDdlJ10" >
          <p class="hero__round-subtitle">О компании</p>
          <p class="hero__round-text">Видео займёт 3 минуты</p>
        </a>
      </div>
    </div>
  </div>
</section>


