<section class="info">
  <div class="container">
    <div class="info__wrapper">
      <div class="info__item">
        <div class="info__item-text-inner">
          <h2 class="info__title">Собственное производство</h2>
          <img class="info__item-img info__item-img--mob" src="./assets/images/info/1.jpg" alt="Фото" ghiw-picture-class="info__picture info__picture--mob" width="487" height="392">
          <p class="info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="info__link" href="#">Читать о производстве</a>
        </div>
        <img class="info__item-img" src="./assets/images/info/1.jpg" alt="Фото" ghiw-picture-class="info__picture" width="487" height="392">
      </div>
      <div class="info__item">
        <img class="info__item-img" src="./assets/images/info/2.jpg" alt="Фото" ghiw-picture-class="info__picture" width="487" height="392">
        <div class="info__item-text-inner">
          <h2 class="info__title">Выставочный комплекс готовых домов</h2>
          <img class="info__item-img info__item-img--mob" src="./assets/images/info/2.jpg" alt="Фото" ghiw-picture-class="info__picture info__picture--mob" width="487" height="392">
          <p class="info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="info__link" href="#">Читать о производстве</a>
        </div>
      </div>
    </div>
  </div>
</section>