<section class="qualification">
  <div class="container">
        <div class="qualification__wrapper">
          <div class="qualification__item">
            <h2 class="qualification__title">Квалификация</h2>
            <p class="qualification__text">Ваш дом будет спроектирован в полноценном архитектурно-строительном бюро, построен строителями, проверенными годами, регулярно проходящими повышение квалификации на производстве. Мы подберем Вам самые выгодные  условия кредитования ,  так как являемся партнерами и аккредитованы во всех крупных банках РФ. Гарантируем экспертность на каждом этапе строительства Вашего дома.</p>
            <p class="qualification__text qualification__text--bold">Гарантируем экспертность на каждом этапе строительства Вашего дома.</p>
          </div>
        </div>
  </div>
</section>