<section class="target">
  <div class="container">
    <h2 class="target__title">Цели компании</h2>
    <div class="target__wrapper">
      <div class="target__item">
        <img class="target__img" src="./assets/images/target/1.jpg" alt="Фото" width="285" height="150">
        <div class="target__item-inner">
          <h3 class="target__item-subtitle">15 лет</h3>
          <p class="target__item-text">строим дома для комфортной жизни</p>
        </div>
      </div>
      <div class="target__item">
        <img class="target__img" src="./assets/images/target/2.jpg" alt="Фото" width="285" height="150">
        <div class="target__item-inner">
          <h3 class="target__item-subtitle">1,5 га</h3>
          <p class="target__item-text">Лесозаготовительная база и сушильный комплекс</p>
        </div>
      </div>
      <div class="target__item">
        <img class="target__img" src="./assets/images/target/3.jpg" alt="Фото" width="285" height="150">
        <div class="target__item-inner">
          <h3 class="target__item-subtitle">100 +</h3>
          <p class="target__item-text">квалифицированных бригад</p>
        </div>
      </div>
      <div class="target__item">
        <img class="target__img" src="./assets/images/target/4.jpg" alt="Фото" width="285" height="150">
        <div class="target__item-inner">
          <h3 class="target__item-subtitle">1800 +</h3>
          <p class="target__item-text">объектов сдано в срок</p>
        </div>
      </div>
    </div>
  </div>
</section>