<section class="best best--other">
  <div class="container">
    <h2 class="best__title"><span class="best__color">Другие </span>акции</h2>
    <div class="best__swiper-container">
      <div class="best__swiper swiper" data-best-swiper>
        <div class="best__swiper-wrapper swiper-wrapper">
          <div class="best__slide card swiper-slide">
            <a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a>
          </div>
          <div class="best__slide card swiper-slide">
            <a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a>
          </div>
          <div class="best__slide card swiper-slide">
            <a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a>
          </div>
          <div class="best__slide card swiper-slide">
            <a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a>
          </div>
        </div>
      </div>
      <div class="best__control-inner control">
        <div class="best__slider-button best__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-best-prev></div>
        <div class="best__pagination swiper-pagination custom-pagination control__pagination" data-best-pagination></div>
        <div class="best__slider-button best__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-best-next></div>
      </div>
    </div>
  </div>
</section>

