<section class="inside inside--stocks">
  <div class="container">
    <h1>Заголовок новости, акции или статьи</h1>
    <article class="inside__card stocks-card stocks-card--single" data-bg="./assets/images/inside/inside-stocks.jpg" data-bg-webp="./assets/images/inside/inside-stocks.webp">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <div class="stocks-card__bottom-inner">
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
        <a class="stocks-card__link" href="#" data-stocks-open>Посмотреть предложение</a>
      </div>
    </article>
    <h3>Правила проведения акции</h3>
    <aside>
      <h5>Общие положения.</h5>
      <ol>
        <li>Наименование Акции: «…» (далее – Акция).</li>
        <li>Акция является маркетинговым мероприятием, направленным на привлечение внимания, формирования интереса и продвижения на рынке услуг ООО «Белый Дом - Ярославль».</li>
        <li>Акция не является стимулирующим рекламным мероприятием, лотереей, не связана с внесением платы участниками за участие, не содержит элемента риска и проводится в соответствие с законодательством Российской Федерации и настоящими условиями (далее – Правила).</li>
        <li>Информирование о сроках и условиях Акции, полных правилах участия в Акции осуществляется путем размещения настоящих Правил на интернет-сайте Организатора Акции - <a href="https://beli-dom.ru/" target="_blank">https://beli-dom.ru/</a> (далее – интернет-сайт Организатора Акции).</li>
        <li>Организатор Акции вправе в любое время в одностороннем порядке вносить изменения в настоящие Правила, в том числе приостановить/отменить ее проведение в любой момент и/или изменить срок Акции, а также изменить или отменить отдельные ее этапы (если это применимо) без объяснения причин. Обновленная редакция Правил размещается на интернет-сайте Организатора Акции. Любые изменения в настоящие Правила являются действительными с момента их публикации на интернет-сайте Организатора Акции.</li>
        <li> В случае отмены проведения Акции информация об этом размещается на интернет-сайте Организатора Акции/отменить ее проведение в любой момент и/или изменить срок Акции, а также изменить или отменить отдельные ее этапы (если это применимо) без объяснения причин. Обновленная редакция Правил размещается на интернет-сайте Организатора Акции. Любые изменения в настоящие Правила являются действительными с момента их публикации на интернет-сайте Организатора Акции.</li>
      </ol>
      <h5>Организатор Акции и Участники Акции.</h5>
      <ol>
        <li>Организатором Акции является юридическое лицо, созданное в соответствии с законодательством Российской Федерации: Общество с ограниченной ответственностью «Белый Дом - Ярославль». Адрес: 607651, Нижегородская область, Кстовский район, город Кстово, ул Талалушкина, д. 5, офис 310 ИНН 5250074082, ОГРН 1205200030860.</li>
        <li>Участники Акции – совершеннолетние (достигшие возраста 18 лет), дееспособные физические лица, являющиеся клиентами ООО «Белый Дом - Ярославль».</li>
        <li>Участниками Акции могут быть как новые, так и постоянные клиенты ООО «Белый Дом - Ярославль».</li>
        <li>Участниками Акции не могут быть работники Организатора Акции и аффилированные с ними лица</li>
      </ol>
      <h5>Сроки и территория проведения Акции</h5>
      <ol>
        <li>Срок проведения Акции: бессрочно до объявления о завершении на сайте <a href="https://beli-dom.ru/" target="_blank">https://beli-dom.ru/</a></li>
        <li>Территория проведения Акции: офисы ООО «Белый Дом - Ярославль» (в том числе все обособленные подразделения)</li>
      </ol>
      <h5>Порядок участия в Акции</h5>
      <ol>
        <li>Суть проведения…</li>
        <li>Порядок проведения…</li>
      </ol>
      <h5>Прочие положения</h5>
      <ol>
        <li>Настоящие Правила являются официальными правилами участия в акции. В случае возникновения ситуаций, допускающих неоднозначное толкование Правил и/или вопросов, не урегулированных Правилами, окончательное решение о таком толковании и/или разъяснения принимается непосредственно и исключительно Организатором Акции.</li>
        <li>Все сведения об Акции, доступные в рекламных материалах, носят информационный характер.</li>
        <li>Организатор Акции не несет ответственности за технические неполадки на интернет-сайте Организатора Акции, в результате которых может возникнуть сбой в работе интернет-сайта. Организатора Акции.</li>
        <li>Организатор не несет ответственность за неисполнение, либо за ненадлежащее исполнение своих обязательств, а также за какие-либо прямые, косвенные, особые потери участников Акции, связанные с участием в Акции, если неисполнение обязательств явилось следствием непредвиденных обстоятельств непреодолимой силы. Организатор не обязан возмещать потери участникам Акции в подобных случаях.</li>
        <li>Во всем остальном, что не предусмотрено настоящими Правилами, Организатор и Участники Акции руководствуются действующим законодательством Российской Федерации.</li>
      </ol>
      <a href="#" data-role="mobile">Смотреть в каталоге</a>
    </aside>
  </div>
</section>

<div class="popup popup--stocks" data-stocks>
  <div class="popup__body popup__body--stocks">
    <h2 class="popup__title popup__title--stocks">Условия проведения акции</h2>
    <ul class="popup__stocks-list">
      <li class="popup__stocks-item">Наименование Акции: «…» (далее – Акция).</li>
      <li class="popup__stocks-item">Акция является маркетинговым мероприятием, направленным на привлечение внимания, формирования интереса и продвижения на рынке услуг ООО «Белый Дом - Ярославль».</li>
      <li class="popup__stocks-item">Акция не является стимулирующим рекламным мероприятием, лотереей, не связана с внесением платы участниками за участие, не содержит элемента риска и проводится в соответствие с законодательством Российской Федерации и настоящими условиями (далее – Правила).</li>
      <li class="popup__stocks-item">Информирование о сроках и условиях Акции, полных правилах участия в Акции осуществляется путем размещения настоящих Правил на интернет-сайте Организатора Акции - https://beli-dom.ru/ (далее – интернет-сайт Организатора Акции).</li>
      <li class="popup__stocks-item">Организатор Акции вправе в любое время в одностороннем порядке вносить изменения в настоящие Правила, в том числе приостановить/отменить ее проведение в любой момент и/или изменить срок Акции, а также изменить или отменить отдельные ее этапы (если это применимо) без объяснения причин. Обновленная редакция Правил размещается на интернет-сайте Организатора Акции. Любые изменения в настоящие Правила являются действительными с момента их публикации на интернет-сайте Организатора Акции.</li>
      <li class="popup__stocks-item">В случае отмены проведения Акции информация об этом размещается на интернет-сайте Организатора Акции.</li>
      <li class="popup__stocks-item">Наименование Акции: «…» (далее – Акция).</li>
      <li class="popup__stocks-item">Акция является маркетинговым мероприятием, направленным на привлечение внимания, формирования интереса и продвижения на рынке услуг ООО «Белый Дом - Ярославль».</li>
      <li class="popup__stocks-item">Акция не является стимулирующим рекламным мероприятием, лотереей, не связана с внесением платы участниками за участие, не содержит элемента риска и проводится в соответствие с законодательством Российской Федерации и настоящими условиями (далее – Правила).</li>
      <li class="popup__stocks-item">Информирование о сроках и условиях Акции, полных правилах участия в Акции осуществляется путем размещения настоящих Правил на интернет-сайте Организатора Акции - https://beli-dom.ru/ (далее – интернет-сайт Организатора Акции).</li>
      <li class="popup__stocks-item">Организатор Акции вправе в любое время в одностороннем порядке вносить изменения в настоящие Правила, в том числе приостановить/отменить ее проведение в любой момент и/или изменить срок Акции, а также изменить или отменить отдельные ее этапы (если это применимо) без объяснения причин. Обновленная редакция Правил размещается на интернет-сайте Организатора Акции. Любые изменения в настоящие Правила являются действительными с момента их публикации на интернет-сайте Организатора Акции.</li>
      <li class="popup__stocks-item">В случае отмены проведения Акции информация об этом размещается на интернет-сайте Организатора Акции.</li>
    </ul>
    <a class="popup__link" href="#">В каталог</a>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup-black"></use>
    </svg>
  </div>
</div>