<section class="stocks">
  <div class="container">
    <article class="stocks__title-inner">
      <h1 class="stocks__title">Статьи</h1>
      <aside class="stocks__filter-inner" data-article-body>
        <button class="stocks__filter active" data-filter-type="Все темы">Все статьи</button>
        <button class="stocks__filter" data-filter-type="Тема">Тема</button>
        <button class="stocks__filter" data-filter-type="Тема 2">Тема 2</button>
      </aside>
    </article>
    <div class="stocks__wrapper" data-target-body>
      <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Тема">
        <p class="stocks-card__time meta meta--new">Тема новости</p>
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
      </a>
      <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Тема 2">
        <p class="stocks-card__time meta meta--new">Тема новости</p>
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
      </a>
      <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Тема 2">
        <p class="stocks-card__time meta meta--new">Тема новости</p>
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
      </a>
    </div>
    <div class="pagination">
      <div class="pagination__body">
        <button class="pagination__element pagination__number pagination__number--active" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <div class="pagination__element pagination__dots">...</div>
        <button class="pagination__element pagination__more" type="button"></button>
      </div>
    </div>
  </div>
</section>