<section class="branches">
  <div class="container">
    <h2 class="branches__title">Наши <span class="branches__title-color">филиалы</span></h2>
    <div class="branches__swiper-container">
      <div class="branches__swiper swiper" data-branches-swiper>
        <div class="branches__swiper-wrapper swiper-wrapper">
          <div class="branches__slide swiper-slide">
            <h3 class="branches__subtitle">г. Ярославль</h3>
            <div class="branches__map-preloader">
              <iframe class="branches__map-yandex" data-map src="" width="100%" height="100%" frameborder="0" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Af21fbe778f40def84d0d0c5251ac8511c3ad60bf25690c8cb5a191468bece9f1&amp;source=constructor" data-map-target  data-bg="./assets/images/map/map-back.jpg" data-bg-webp="./assets/images/map/map-back.webp"></iframe>
            </div>
            <p class="branches__address">г. Ярославль, ул. Полушкина роща, дом 9, стр. 13</p>
            <a class="branches__link" href="#">8 (485) 227-52-71</a>
            <a class="branches__link" href="#">yaroslavl@beli-dom.ru</a>
          </div>
          <div class="branches__slide swiper-slide">
            <h3 class="branches__subtitle">г. Ярославль</h3>
            <div class="branches__map-preloader">
              <iframe class="branches__map-yandex" data-map src="" width="100%" height="100%" frameborder="0" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Af21fbe778f40def84d0d0c5251ac8511c3ad60bf25690c8cb5a191468bece9f1&amp;source=constructor" data-map-target  data-bg="./assets/images/map/map-back.jpg" data-bg-webp="./assets/images/map/map-back.webp"></iframe>
            </div>
            <p class="branches__address">г. Ярославль, ул. Полушкина роща, дом 9, стр. 13</p>
            <a class="branches__link" href="#">8 (485) 227-52-71</a>
            <a class="branches__link" href="#">yaroslavl@beli-dom.ru</a>
          </div>
          <div class="branches__slide swiper-slide">
            <h3 class="branches__subtitle">г. Ярославль</h3>
            <div class="branches__map-preloader">
              <iframe class="branches__map-yandex" data-map src="" width="100%" height="100%" frameborder="0" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Af21fbe778f40def84d0d0c5251ac8511c3ad60bf25690c8cb5a191468bece9f1&amp;source=constructor" data-map-target  data-bg="./assets/images/map/map-back.jpg" data-bg-webp="./assets/images/map/map-back.webp"></iframe>
            </div>
            <p class="branches__address">г. Ярославль, ул. Полушкина роща, дом 9, стр. 13</p>
            <a class="branches__link" href="#">8 (485) 227-52-71</a>
            <a class="branches__link" href="#">yaroslavl@beli-dom.ru</a>
          </div>
          <div class="branches__slide swiper-slide">
            <h3 class="branches__subtitle">г. Ярославль</h3>
            <div class="branches__map-preloader">
              <iframe class="branches__map-yandex" data-map src="" width="100%" height="100%" frameborder="0" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Af21fbe778f40def84d0d0c5251ac8511c3ad60bf25690c8cb5a191468bece9f1&amp;source=constructor" data-map-target  data-bg="./assets/images/map/map-back.jpg" data-bg-webp="./assets/images/map/map-back.webp"></iframe>
            </div>
            <p class="branches__address">г. Ярославль, ул. Полушкина роща, дом 9, стр. 13</p>
            <a class="branches__link" href="#">8 (485) 227-52-71</a>
            <a class="branches__link" href="#">yaroslavl@beli-dom.ru</a>
          </div>
          <div class="branches__slide swiper-slide">
            <h3 class="branches__subtitle">г. Ярославль</h3>
            <div class="branches__map-preloader">
              <iframe class="branches__map-yandex" data-map src="" width="100%" height="100%" frameborder="0" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Af21fbe778f40def84d0d0c5251ac8511c3ad60bf25690c8cb5a191468bece9f1&amp;source=constructor" data-map-target  data-bg="./assets/images/map/map-back.jpg" data-bg-webp="./assets/images/map/map-back.webp"></iframe>
            </div>
            <p class="branches__address">г. Ярославль, ул. Полушкина роща, дом 9, стр. 13</p>
            <a class="branches__link" href="#">8 (485) 227-52-71</a>
            <a class="branches__link" href="#">yaroslavl@beli-dom.ru</a>
          </div>
        </div>

      </div>
      <div class="branches__slider-button branches__slider-button--next slider-button slider-button--next swiper-button-next" data-branches-next></div>
      <div class="branches__slider-button branches__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-branches-prev></div>
    </div>
  </div>
</section>