<section class="form-vacancy">
  <div class="container">
    <form class="form-vacancy__wrapper" action="#">
      <fieldset class="form-vacancy__body">
        <legend class="form-vacancy__title">Подать заявку на собеседование</legend>
        <p class="form-vacancy__text">Мы стремимся к долгосрочному сотрудничеству и являемся идеальной компанией для соискателей, желающих достичь успеха в своей профессиональной деятельности.</p>
        <fieldset class="form-vacancy__info-inner">
          <label class="form-vacancy__label">
            <input class="form-vacancy__input" type="text" name="Name" placeholder="Ваше имя" required>
          </label>
          <label class="form-vacancy__label">
            <input class="form-vacancy__input" type="tel" name="Phone" placeholder="+7 ХХХ ХХХ ХХ ХХ" required>
          </label>
        </fieldset>
        <label class="form-vacancy__textarea-inner">
          <textarea class="form-vacancy__textarea" name="Text" placeholder="Комментарий работодателю"></textarea>
          <label class="form-vacancy__file-inner">
            <input class="form-vacancy__file" type="file">
            <span class="form-vacancy__fake-file">Прикрепить резюме</span>
          </label>
        </label>
         <fieldset class="form-vacancy__button-inner">
           <button class="form-vacancy__button">Подать заявку</button>
           <label class="form-vacancy__checkbox-inner">
             <input class="form-vacancy__checkbox" type="checkbox" hidden checked>
             <span class="form-vacancy__fake-checkbox"></span>
             <span class="form-vacancy__politic-inner">Я согласен на обработку <a class="form-vacancy__politic" href="#">персональных данных</a></span>
           </label>
         </fieldset>
      </fieldset>
    </form>
  </div>
</section>