<section class="hero hero--job">
  {{> bread-crumbs-catalog}}
  <div class="hero__wrapper">
      <h1 class="hero__title">Работа в компании</h1>
      <p class="hero__text">Строительная компания "Белый дом" с 2008 года успешно ведет свою деятельность по малоэтажному строительству в Нижнем Новгороде, области и регионах России. Мы осуществляем настоящую мечту многих людей - стать владельцем уютного, комфортного, качественного и доступного по цене дома. В этом и есть цель нашей компании.</p>
      <a class="hero__link" href="#">Перейти на hh.ru</a>
  </div>
</section>


