<section class="job-reviews reviews">
  <div class="container">
    <h2 class="job-reviews__title">Отзывы <span class="job-reviews__color">сотрудников</span></h2>
    <div class="job-reviews__swiper-container">
      <div class="job-reviews swiper" data-job-reviews-swiper>
        <div class="job-reviews swiper-wrapper">
          <div class="job-reviews__slide swiper-slide">
            <div class="reviews__review-wrapper">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">
                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.5</div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="reviews__body">
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="job-reviews__slide swiper-slide">
            <div class="reviews__review-wrapper">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">
                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.5</div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="reviews__body">
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="job-reviews__slide swiper-slide">
            <div class="reviews__review-wrapper">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">
                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.5</div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="reviews__body">
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-reviews__control-inner control">
        <div class="job-reviews__slider-button job-reviews__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-job-reviews-prev></div>
        <div class="job-reviews__pagination swiper-pagination custom-pagination control__pagination" data-job-reviews-pagination></div>
        <div class="job-reviews__slider-button job-reviews__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-job-reviews-next></div>
      </div>
    </div>

  </div>
</section>