<section class="vacancy">
  <div class="container">
    <h2 class="vacancy__title">Наши <span class="vacancy__title-color">вакансии</span></h2>
    <div class="vacancy__swiper-container">
      <div class="vacancy__swiper swiper" data-vacancy-swiper>
        <div class="vacancy__swiper-wrapper swiper-wrapper">
          <div class="vacancy__slide opportunity swiper-slide">
              <div class="opportunity__body">
                <div class="opportunity__title-inner">
                  <h3 class="opportunity__title">Снабженец</h3>
                  <span class="opportunity__salary">50 000 - 100 000 ₽</span>
                </div>
                <p class="opportunity__practice">Без опыта</p>
                <p class="opportunity__city">Нижний Новгород</p>
                <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <button class="opportunity__link" type="button"  data-vacancy-button>Подробнее</button>
              </div>
          </div>
          <div class="vacancy__slide opportunity swiper-slide">
            <div class="opportunity__body">
              <div class="opportunity__title-inner">
                <h3 class="opportunity__title">Снабженец</h3>
                <span class="opportunity__salary">50 000 - 100 000 ₽</span>
              </div>
              <p class="opportunity__practice">Без опыта</p>
              <p class="opportunity__city">Нижний Новгород</p>
              <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
              <button class="opportunity__link" type="button"  data-vacancy-button>Подробнее</button>
            </div>
          </div>
          <div class="vacancy__slide opportunity swiper-slide">
            <div class="opportunity__body">
              <div class="opportunity__title-inner">
                <h3 class="opportunity__title">Снабженец</h3>
                <span class="opportunity__salary">50 000 - 100 000 ₽</span>
              </div>
              <p class="opportunity__practice">Без опыта</p>
              <p class="opportunity__city">Нижний Новгород</p>
              <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
              <button class="opportunity__link" type="button"  data-vacancy-button>Подробнее</button>
            </div>
          </div>
          <div class="vacancy__slide opportunity swiper-slide">
            <div class="opportunity__body">
              <div class="opportunity__title-inner">
                <h3 class="opportunity__title">Снабженец</h3>
                <span class="opportunity__salary">50 000 - 100 000 ₽</span>
              </div>
              <p class="opportunity__practice">Без опыта</p>
              <p class="opportunity__city">Нижний Новгород</p>
              <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
              <button class="opportunity__link" type="button"  data-vacancy-button>Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancy__control-inner control">
        <div class="vacancy__slider-button vacancy__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-vacancy-prev></div>
        <div class="vacancy__pagination swiper-pagination custom-pagination control__pagination" data-vacancy-pagination></div>
        <div class="vacancy__slider-button vacancy__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-vacancy-next></div>
      </div>
    </div>
    <div class="vacancy__look">
      <h3 class="vacancy__look-title">Посмторите наши <br>вакансии на HH.ru</h3>
      <div class="vacancy__look-link-inner">
        <a class="vacancy__look-link" href="#">Посмотреть вакансии</a>
        <p class="vacancy__look-rate">Средний рейтинг <br>работодателя в регионе 4.7</p>
      </div>
    </div>

  </div>
</section>

<div class="popup popup--stocks" data-vacancy>
  <div class="popup__body popup__body--stocks opportunity">
    <form class="opportunity__body">
      <div class="opportunity__title-inner">
        <h3 class="opportunity__title">Снабженец</h3>
        <span class="opportunity__salary">50 000 - 100 000 ₽</span>
      </div>
      <p class="opportunity__practice">Без опыта</p>
      <p class="opportunity__city">Нижний Новгород</p>
      <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
      <button class="opportunity__link" type="submit">Откликнуться</button>
    </form>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup-black"></use>
    </svg>
  </div>
</div>
<div class="popup popup--stocks" data-vacancy>
  <div class="popup__body popup__body--stocks opportunity">
    <form class="opportunity__body">
      <div class="opportunity__title-inner">
        <h3 class="opportunity__title">Снабженец</h3>
        <span class="opportunity__salary">50 000 - 100 000 ₽</span>
      </div>
      <p class="opportunity__practice">Без опыта</p>
      <p class="opportunity__city">Нижний Новгород</p>
      <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
      <button class="opportunity__link" type="submit">Откликнуться</button>
    </form>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup-black"></use>
    </svg>
  </div>
</div>
<div class="popup popup--stocks" data-vacancy>
  <div class="popup__body popup__body--stocks opportunity">
    <form class="opportunity__body">
      <div class="opportunity__title-inner">
        <h3 class="opportunity__title">Снабженец</h3>
        <span class="opportunity__salary">50 000 - 100 000 ₽</span>
      </div>
      <p class="opportunity__practice">Без опыта</p>
      <p class="opportunity__city">Нижний Новгород</p>
      <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
      <button class="opportunity__link" type="submit">Откликнуться</button>
    </form>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup-black"></use>
    </svg>
  </div>
</div>
<div class="popup popup--stocks" data-vacancy>
  <div class="popup__body popup__body--stocks opportunity">
    <form class="opportunity__body">
      <div class="opportunity__title-inner">
        <h3 class="opportunity__title">Снабженец</h3>
        <span class="opportunity__salary">50 000 - 100 000 ₽</span>
      </div>
      <p class="opportunity__practice">Без опыта</p>
      <p class="opportunity__city">Нижний Новгород</p>
      <p class="opportunity__text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
      <button class="opportunity__link" type="submit">Откликнуться</button>
    </form>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup-black"></use>
    </svg>
  </div>
</div>
