<section class="feedback category-single" data-parent>
  <div class="container">
    <div class="category-single__wrapper">
      <div class="category-single__item">
        <div class="category-single__swiper swiper" data-single-big>
          <div class="category-single__swiper-wrapper swiper-wrapper">
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
        <div class="category-single__swiper-container-thumb">
          <div class="category-single__swiper-thumb swiper" data-single-thumb>
            <div class="category-single__swiper-wrapper-thumb swiper-wrapper">
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
            </div>
          </div>
          <div class="category-single__slider-button category-single__slider-button--next slider-button slider-button--next swiper-button-next" data-single-thumb-next></div>
          <div class="category-single__slider-button category-single__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-single-thumb-prev></div>
        </div>
      </div>

      <div class="category-single__item category-single__item--description category-single__item--feedback">
        <h1 class="category-single__title">Отзыв от <span class="category-single__color">Анастасии</span></h1>
        <div class="category-single__price-inner">
          <div class="category-single__price-item">
            <div class="category-single__price-month-inner">
              <p class="category-single__price-month">Цена в феврале</p>
              <div class="category-single__attention-trigger">
                <svg class="category-single__attention-icon">
                  <use xlink:href="./assets/images/svg/set.svg#attention-icon"></use>
                </svg>
                <div class="category-single__attention-body"></div>
              </div>
            </div>
            <p class="category-single__price">1 550 000 ₽</p>
            <div class="category-single__price-sale-inner">
              <p class="category-single__old-price"><s>1 820 000 ₽</s></p>
              <div class="category-single__sum-sale">-25%</div>
            </div>
          </div>
          <div class="category-single__price-item">
            <div class="category-single__price-month-inner">
              <p class="category-single__price-month">Цена в феврале</p>
              <div class="category-single__attention-trigger">
                <svg class="category-single__attention-icon">
                  <use xlink:href="./assets/images/svg/set.svg#attention-icon"></use>
                </svg>
                <div class="category-single__attention-body"></div>
              </div>
            </div>
            <p class="category-single__price">1 550 000 ₽</p>
            <div class="category-single__price-sale-inner">
              <p class="category-single__old-price"><s>1 820 000 ₽</s></p>
              <div class="category-single__sum-sale">-25%</div>
            </div>
          </div>
        </div>
        <div class="category-single__features-inner">
          <div class="category-single__features-icon"></div>
          <div class="category-single__features-text">Строительство в кредит</div>
        </div>
        <p class="category-single__text">Минимальный ежемесячный платеж <span class="category-single__text-color">50 000 рублей</span></p>
        <div class="category-single__features-inner category-single__features-inner--capital">
          <div class="category-single__features-icon category-single__features-icon--capital"></div>
          <div class="category-single__features-text">Материнский капитал</div>
        </div>
        <p class="category-single__choose">Выберите комплектацию</p>
        <div class="category-single__custom-select category-single__custom-select--equipment custom-select itc-select" data-custom-select data-equipment-select>
          <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Жилой дом - утепление 150 мм</button>
          <div class="itc-select__dropdown">
            <ul class="itc-select__options">
              <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
            </ul>
          </div>
        </div>
        <a class="category-single__link-all" href="#">Посмотреть характеристики комплектаций</a>
        <p class="category-single__choose">Выберите материал</p>
        <div class="category-single__custom-select category-single__custom-select--material custom-select itc-select" data-custom-select data-material-select>
          <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Газобетон</button>
          <div class="itc-select__dropdown">
            <ul class="itc-select__options">
              <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
              <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
            </ul>
          </div>
        </div>
        <div class="category-single__button-inner">
          <button class="category-single__button category-single__button--this">Заказать этот проект</button>
          <button class="category-single__button category-single__button--lending">Кредитование</button>
        </div>

      </div>
    </div>
  </div>
</section>