<section class="feedback category-single" data-parent>
  <div class="container">
    <div class="category-single__wrapper">
      <div class="category-single__item">
        <div class="category-single__swiper swiper" data-single-feedback>
          <div class="category-single__swiper-wrapper swiper-wrapper">
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="category-single__slide swiper-slide">
              <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">
                <div class="category-single__size-inner">
                  <svg class="category-single__size-icon">
                    <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                  </svg>
                </div>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
        <div class="category-single__swiper-container-thumb">
          <div class="category-single__swiper-thumb swiper" data-feedback-thumb>
            <div class="category-single__swiper-wrapper-thumb swiper-wrapper">
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
              <div class="category-single__slide-thumb swiper-slide">
                <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
              </div>
            </div>
          </div>
          <div class="category-single__slider-button category-single__slider-button--next slider-button slider-button--next swiper-button-next" data-feedback-thumb-next></div>
          <div class="category-single__slider-button category-single__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-feedback-thumb-prev></div>
        </div>
      </div>

      <div class="category-single__item category-single__item--description category-single__item--feedback">
        <h1 class="category-single__title">Отзыв от <span class="category-single__color">Анастасии</span></h1>
        <div class="feedback__wrapper">
          <ul class="feedback__list">
            <li class="feedback__item feedback__item--project">Индивидуальный проект заказчика</li>
            <li class="feedback__item feedback__item--address">Ленинаградская область, приозерский р-он, Громовское сельское поселение, масив Владимировка. с.т. Нептун</li>
          </ul>
          <ul class="feedback__info-list">
            <li class="feedback__info-item">Общая площадь <span class="feedback__info-sub">80 м2</span></li>
            <li class="feedback__info-item">Габариты дома <span class="feedback__info-sub">9х10 м</span></li>
            <li class="feedback__info-item">Дата сдачи <span class="feedback__info-sub">28.12.22</span></li>
          </ul>
          <div class="feedback__button-inner category-single__button-inner">
            <button class="category-single__button category-single__button--this">Заказать</button>
            <a class="category-single__button category-single__button--lending" href="#">Смотреть в каталоге</a>
          </div>
          <div class="feedback__review">
            <p class="feedback__review-subtitle">Отзыв</p>
            <p class="feedback__review-text">Посетили выставку готовых домов "Белый дом", выбрали дом по проекту "Борок". Заезд состоялся во время. Бригада под руководством бригадира Дмитрия построили дом за 3 недели. Работа выполнена качественно, придраться не к чему. <span class="feedback__review-hidden" data-review-hidden>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque illo, ipsum iste sapiente veniam! Cumque officia optio, pariatur perspiciatis quaerat quis repudiandae ullam ut voluptate! Delectus est ipsum sapiente.</span>
            </p>
            <button class="feedback__review-more" data-review-more>Читать полностью</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>