<section class="other-review">
  <div class="container">
    <h2 class="other-review__title"></h2>
    <div class="other-review__swiper swiper">
      <div class="other-review__wrapper swiper-wrapper">
        <div class="other-review__slide swiper-slide">
          <div class="other-cards">
            <div class="card">
              <div class="card__house">
                <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
                  <ul class="card__house-info">
                    <li class="card__info-item"><span class="card__info-hidden">Проект </span>КД-50</li>
                    <li class="card__info-item"><span class="card__info-hidden">Габариты </span>8х7.5</li>
                    <li class="card__info-item"><span class="card__info-hidden">Общая площадь </span>8х7.5</li>
                  </ul>
                  <div class="card__text-inner-top">
                    <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
                  </div>
                </div>

              </div>
              <a class="card__link" href="#"></a>
            </div>
            <div class="other-cards__thumb"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>