<header class="header">
  <div class="container">
    <div class="header__top">
      <img src="./assets/images/similar/logo.png" alt="Логотип" class="logo">
      <button class="header__dropdown-city">Нижний Новгород
        <svg class="header__arrow"><use xlink:href="./assets/images/svg/set.svg#arrow-down"></use></svg>
      </button>
      <div class="header__info-inner header__info-inner--mail">
        <a class="header__info header__info--mail" href="{{data.email}}">{{data.email}}</a>
        <p class="header__info-text">Напишите нам</p>
      </div>
      <div class="header__info-inner header__info-inner--phone">
        <a class="header__info header__info--phone" href="{{data.phoneHref}}">{{data.phone}}</a>
        <p class="header__info-text">Пн-Вс с 09:00 до 19:00</p>
      </div>
      <ul class="header__social-list">
        <li class="header__social-item">
          <a class="header__social-item-link" href="#">
            <svg class="header__social-icon">
              <use xlink:href="./assets/images/svg/set.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a class="header__social-item-link" href="#">
            <svg class="header__social-icon">
              <use xlink:href="./assets/images/svg/set.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a class="header__social-item-link" href="#">
            <svg class="header__social-icon">
              <use xlink:href="./assets/images/svg/set.svg#viber"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="header__callback-inner">
        <a class="header__favourites-link" href="favourites.html" data-count="0">
          <svg class="header__favourites-icon">
            <use xlink:href="./assets/images/svg/set.svg#favourites"></use>
          </svg>
        </a>
        <button class="header__callback" type="button">Заказать звонок</button>
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="catalog-project.html">Каталог<svg class="header__arrow"><use xlink:href="./assets/images/svg/set.svg#arrow-down"></use></svg></a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Услуги<svg class="header__arrow"><use xlink:href="./assets/images/svg/set.svg#arrow-down"></use></svg></a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Рассчитать стоимость</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">О компании<svg class="header__arrow"><use xlink:href="./assets/images/svg/set.svg#arrow-down"></use></svg></a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Проекты</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Отзывы</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Акции</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="#">Клиентам<svg class="header__arrow"><use xlink:href="./assets/images/svg/set.svg#arrow-down"></use></svg></a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-item-link" href="contacts-page.html">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>



