<section class="favourites">
  <div class="container">
    <div class="favourites__title-inner">
      <h1 class="favourites__title">Избранное</h1>
      <div class="favourites__button-inner">
        <a class="favourites__button favourites__button--link-catalog" href="#">Вернуться в каталог</a>
        <button class="favourites__button favourites__button--clear" data-button-clear>Очистить избранное</button>
      </div>
    </div>
    <div class="favourites__card-wrapper">
      <div class="card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
            <div class="card__meta-inner">
              <div class="card__meta-box">
                <div class="meta meta--new">НОВИНКА</div>
                <div class="meta meta--sale">СКИДКА 25%</div>
                <div class="meta meta--hit">ХИТ</div>
              </div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="card__text-inner-top">
              <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
              <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
            </div>
          </div>
          <div class="card__house-bottom">
            <p class="card__metre">126 м<sub>2</sub></p>
            <div class="card__price-inner">
              <p class="card__price-now">3 484 053 ₽</p>
              <p class="card__price-month">Цена в феврале</p>
            </div>
            <div class="card__price-inner">
              <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
              <p class="card__price-month">Цена в Марте</p>
            </div>
          </div>
        </div>
        <a class="card__link" href="#"></a>
      </div>
      <div class="card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
            <div class="card__meta-inner">
              <div class="card__meta-box">
                <div class="meta meta--new">НОВИНКА</div>
                <div class="meta meta--sale">СКИДКА 25%</div>
                <div class="meta meta--hit">ХИТ</div>
              </div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="card__text-inner-top">
              <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
              <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
            </div>
          </div>
          <div class="card__house-bottom">
            <p class="card__metre">126 м<sub>2</sub></p>
            <div class="card__price-inner">
              <p class="card__price-now">3 484 053 ₽</p>
              <p class="card__price-month">Цена в феврале</p>
            </div>
            <div class="card__price-inner">
              <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
              <p class="card__price-month">Цена в Марте</p>
            </div>
          </div>
        </div>
        <a class="card__link" href="#"></a>
      </div>
      <div class="card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
            <div class="card__meta-inner">
              <div class="card__meta-box">
                <div class="meta meta--new">НОВИНКА</div>
                <div class="meta meta--sale">СКИДКА 25%</div>
                <div class="meta meta--hit">ХИТ</div>
              </div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="card__text-inner-top">
              <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
              <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
            </div>
          </div>
          <div class="card__house-bottom">
            <p class="card__metre">126 м<sub>2</sub></p>
            <div class="card__price-inner">
              <p class="card__price-now">3 484 053 ₽</p>
              <p class="card__price-month">Цена в феврале</p>
            </div>
            <div class="card__price-inner">
              <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
              <p class="card__price-month">Цена в Марте</p>
            </div>
          </div>
        </div>
        <a class="card__link" href="#"></a>
      </div>
      <div class="card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
            <div class="card__meta-inner">
              <div class="card__meta-box">
                <div class="meta meta--new">НОВИНКА</div>
                <div class="meta meta--sale">СКИДКА 25%</div>
                <div class="meta meta--hit">ХИТ</div>
              </div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="card__text-inner-top">
              <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
              <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
            </div>
          </div>
          <div class="card__house-bottom">
            <p class="card__metre">126 м<sub>2</sub></p>
            <div class="card__price-inner">
              <p class="card__price-now">3 484 053 ₽</p>
              <p class="card__price-month">Цена в феврале</p>
            </div>
            <div class="card__price-inner">
              <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
              <p class="card__price-month">Цена в Марте</p>
            </div>
          </div>
        </div>
        <a class="card__link" href="#"></a>
      </div>
      <div class="card">
        <div class="card__house">
          <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
            <div class="card__meta-inner">
              <div class="card__meta-box">
                <div class="meta meta--new">НОВИНКА</div>
                <div class="meta meta--sale">СКИДКА 25%</div>
                <div class="meta meta--hit">ХИТ</div>
              </div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="card__text-inner-top">
              <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
              <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
            </div>
          </div>
          <div class="card__house-bottom">
            <p class="card__metre">126 м<sub>2</sub></p>
            <div class="card__price-inner">
              <p class="card__price-now">3 484 053 ₽</p>
              <p class="card__price-month">Цена в феврале</p>
            </div>
            <div class="card__price-inner">
              <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
              <p class="card__price-month">Цена в Марте</p>
            </div>
          </div>
        </div>
        <a class="card__link" href="#"></a>
      </div>
    </div>
    <div class="pagination">
      <div class="pagination__body">
        <button class="pagination__element pagination__number pagination__number--active" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <div class="pagination__element pagination__dots">...</div>
        <button class="pagination__element pagination__more" type="button"></button>
      </div>
    </div>
  </div>
</section>