<section class="best best--more">
  <div class="container">
    <h2 class="best__title"><span class="best__color">Дополнительные</span> услуги</h2>
    <div class="best__swiper-container">
      <div class="best__swiper swiper" data-best-more-swiper>
        <div class="best__swiper-wrapper swiper-wrapper">
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-4.jpg" data-bg-webp="./assets/images/hit/hit-4.webp">
                <div class="card__text-inner-top">
                  <h3 class="card__house-title">Кредитование</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-5.jpg" data-bg-webp="./assets/images/hit/hit-5.webp">
                <div class="card__text-inner-top">
                  <h3 class="card__house-title">Материнский капитал</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-6.jpg" data-bg-webp="./assets/images/hit/hit-6.webp">
                <div class="card__text-inner-top">
                  <h3 class="card__house-title">Реконструкции</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="best__slide card swiper-slide">
            <div class="card__house">
              <div class="card__house-top" data-bg="./assets/images/hit/hit-6.jpg" data-bg-webp="./assets/images/hit/hit-6.webp">
                <div class="card__text-inner-top">
                  <h3 class="card__house-title">Реконструкции</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="best__slider-button best__slider-button--next slider-button slider-button--next swiper-button-next" data-best-more-next></div>
      <div class="best__slider-button best__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-best-more-prev></div>
      <a class="best__link" href="#">Смотреть все услуги</a>
    </div>
  </div>
</section>

