<section class="category-single" data-parent>
  <div class="container">
      <div class="category-single__wrapper">
        <div class="category-single__item">
          <div class="category-single__slide category-single__slide--3d hidden" data-slider-3d>
            <div class="cloudimage-360"
                 data-folder="https://scaleflex.cloudimg.io/v7/demo/vivo-mobile/"
                 data-filename-x="product-{index}.jpg"
                 data-amount-x="60"
                 data-pointer-zoom="2"
                 data-fullscreen
                 data-lazyload
                 data-transformation="w=692&h=500&func=fit"
                 data-responsive="scaleflex"></div>
            <div class="category-single__meta-inner">
              <div class="meta meta--new">НОВИНКА</div>
              <div class="meta meta--sale">СКИДКА 25%</div>
              <div class="meta meta--hit">ХИТ</div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="category-single__view-inner">
              <p class="category-single__view">360&ordm;</p>

            </div>
          </div>
          <div class="category-single__swiper swiper" data-single-big>
            <div class="category-single__meta-inner">
              <div class="meta meta--new">НОВИНКА</div>
              <div class="meta meta--sale">СКИДКА 25%</div>
              <div class="meta meta--hit">ХИТ</div>
              <button class="favorite" data-favorite-button>
                <svg class="favorite__icon">
                  <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                </svg>
              </button>
            </div>
            <div class="category-single__house-status">
              <h3 class="category-single__status-subtitle">Дом на выставке</h3>
              <p class="category-single__house-address">Вы можете посмотреть этот дом по адресу Нижний Новгород, д. Ржавка, ул. Горная, 44</p>
            </div>
            <div class="category-single__swiper-wrapper swiper-wrapper">
              <div class="category-single__slide swiper-slide">
                <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">

                  <div class="category-single__size-inner">
                    <svg class="category-single__size-icon">
                      <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                    </svg>
                  </div>
                </a>

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="category-single__slide swiper-slide">
                <a class="category-single__slide-link" href="./assets/images/category-single/single-big-second.png" data-fancybox="single-big-slider">
                  <img class="" src="./assets/images/category-single/single-big-second.png" alt="Фото" width="692" height="500" loading="lazy">

                  <div class="category-single__size-inner">
                    <svg class="category-single__size-icon">
                      <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                    </svg>
                  </div>
                </a>

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="category-single__slide swiper-slide">
                <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">

                  <div class="category-single__size-inner">
                    <svg class="category-single__size-icon">
                      <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                    </svg>
                  </div>
                </a>

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="category-single__slide swiper-slide">
                <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">

                  <div class="category-single__size-inner">
                    <svg class="category-single__size-icon">
                      <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                    </svg>
                  </div>
                </a>

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="category-single__slide swiper-slide">
                <a class="category-single__slide-link" href="./assets/images/category-single/single-big-1.jpg" data-fancybox="single-big-slider"> <img class="" src="./assets/images/category-single/single-big-1.png" alt="Фото" width="692" height="500" loading="lazy">

                  <div class="category-single__size-inner">
                    <svg class="category-single__size-icon">
                      <use xlink:href="./assets/images/svg/set.svg#size-plus"></use>
                    </svg>
                  </div>
                </a>

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
            </div>
          </div>

          <div class="category-single__swiper-container-thumb">
            <div class="category-single__slide-thumb category-single__slide-thumb--3d" data-slider-3d-show data-thumb-show>
              <img class="" src="./assets/images/category-single/single-thumb-3d.jpg" alt="Фото" width="158" height="100">
            </div>
            <div class="category-single__swiper-thumb swiper" data-single-thumb>
              <div class="category-single__swiper-wrapper-thumb swiper-wrapper">
                <div class="category-single__slide-thumb swiper-slide" data-thumb-show>
                  <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
                </div>
                <div class="category-single__slide-thumb swiper-slide" data-thumb-show>
                  <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
                </div>
                <div class="category-single__slide-thumb swiper-slide" data-thumb-show>
                  <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
                </div>
                <div class="category-single__slide-thumb swiper-slide" data-thumb-show>
                  <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
                </div>
                <div class="category-single__slide-thumb swiper-slide" data-thumb-show>
                  <img class="" src="./assets/images/category-single/single-thumb-1.jpg" alt="Фото" width="158" height="100">
                </div>
              </div>
            </div>
            <div class="category-single__slider-button category-single__slider-button--next slider-button slider-button--next swiper-button-next" data-single-thumb-next></div>
            <div class="category-single__slider-button category-single__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-single-thumb-prev></div>
          </div>

        </div>

        <div class="category-single__item category-single__item--description">
          <h1 class="category-single__title">Каркасный дом<br><span class="category-single__color">«Домино»</span></h1>
          <div class="category-single__price-inner">
            <div class="category-single__price-item">
              <div class="category-single__price-month-inner">
                <p class="category-single__price-month">Цена в феврале</p>
                <div class="category-single__attention-trigger">
                  <svg class="category-single__attention-icon">
                    <use class="category-single__attention-icon-color" xlink:href="./assets/images/svg/set.svg#attention-icon"></use>
                  </svg>
                  <div class="category-single__attention-body">
                    <p class="category-single__text-hidden">Цены приведённые в каталоге, являются справочной информацией и не являются публичной офертой, определяемой положением статьи 437 Гражданского кодекса Российской Федерации и могут быть изменены в любое время без предупреждения.</p>
                  </div>
                </div>
              </div>
              <p class="category-single__price"><span id="now" data-price-currently>1 550 000</span> ₽</p>
              <div class="category-single__price-sale-inner">
                <p class="category-single__old-price"><s>1 820 000 ₽</s></p>
                <div class="category-single__sum-sale">-25%</div>
              </div>
            </div>
            <div class="category-single__price-item">
              <div class="category-single__price-month-inner">
                <p class="category-single__price-month">Цена в феврале</p>
                <div class="category-single__attention-trigger">
                  <svg class="category-single__attention-icon">
                    <use class="category-single__attention-icon-color" xlink:href="./assets/images/svg/set.svg#attention-icon"></use>
                  </svg>
                  <div class="category-single__attention-body">
                    <p class="category-single__text-hidden">Цены приведённые в каталоге, являются справочной информацией и не являются публичной офертой, определяемой положением статьи 437 Гражданского кодекса Российской Федерации и могут быть изменены в любое время без предупреждения.</p>
                  </div>
                </div>
              </div>
              <p class="category-single__price category-single__price--new"><span data-price-be>1 550 000</span> ₽</p>
              <div class="category-single__price-sale-inner">
                <p class="category-single__old-price"><s>1 820 000 ₽</s></p>
                <div class="category-single__sum-sale">-25%</div>
              </div>
            </div>
          </div>
          <div class="category-single__features-inner">
            <div class="category-single__features-icon"></div>
            <div class="category-single__features-text">Строительство в кредит</div>
          </div>
          <p class="category-single__text">Минимальный ежемесячный платеж <span class="category-single__text-color">50 000 рублей</span></p>
          <div class="category-single__features-inner category-single__features-inner--capital">
            <div class="category-single__features-icon category-single__features-icon--capital"></div>
            <div class="category-single__features-text">Материнский капитал</div>
          </div>
          <p class="category-single__choose">Выберите комплектацию</p>
          <div class="category-single__custom-select category-single__custom-select--equipment custom-select itc-select" data-custom-select data-equipment-select>
            <button class="itc-select__toggle" type="button" value="Комплектации «Домино» (8,0х12,8)-139м2" data-select="toggle" data-index="-1" data-select-main>Комплектации «Домино» (8,0х12,8)-139м2</button>
            <div class="itc-select__dropdown">
              <ul class="itc-select__options" data-select-change>
                <li class="itc-select__option itc-select__option_selected" data-select="option" data-value="Комплектации «Домино» (8,0х12,8)-139м2" data-index="0" data-price-now="1 550 000" data-price-next="1 750 000">Комплектации «Домино» (8,0х12,8)-139м2</li>
                <li class="itc-select__option" data-select="option" data-value="Жилой дом –Утепление 150мм" data-index="1" data-price-now="1 650 000" data-price-next="1 950 000">Жилой дом – Утепление 150мм</li>
                <li class="itc-select__option" data-select="option" data-value="Аляска – Утепление 200мм" data-index="2" data-price-now="2 550 000" data-price-next="2 750 000">Аляска – Утепление 200мм</li>
              </ul>
            </div>
          </div>
          <a class="category-single__link-all" href="#material">Посмотреть характеристики комплектаций</a>
          <p class="category-single__choose">Выберите материал</p>
          <div class="category-single__material-inner">
            <a class="category-single__material-link category-single__material-link--active" href="#">
              <svg class="category-single__icon"><use class="material-icon" href="./assets/images/svg/set.svg#stone"></use></svg>
              <span class="category-single__link-text">Камень</span></a>
            <a class="category-single__material-link" href="#">
              <svg class="category-single__icon"><use class="material-icon" href="./assets/images/svg/set.svg#house"></use></svg>
              <span class="category-single__link-text">Каркас</span></a>
          </div>
          <div class="category-single__button-inner">
            <button class="category-single__button category-single__button--this">Заказать этот проект</button>
            <button class="category-single__button category-single__button--lending">Кредитование</button>
          </div>

        </div>
    </div>
  </div>
</section>

