<section class="layout">
  <div class="container">
    <div class="layout__wrapper">
      <div class="layout__item">
        <h2 class="layout__title">Описание</h2>
        <p class="layout__text">Каркасный дом из заводского домокомплекта, антисептирование которого осуществляется так же в заводских условиях. Для каждого проекта доступна кастомизация (перепланировка) и индивидуальная комплектация под потребности клиента.</p>
        <div class="layout__house-info-wrapper">
          <div class="layout__house-info-inner">
            <div class="layout__house-info">9,5х12,0</div>
            <p class="layout__house-info-text">Линейные размеры (м)</p>
          </div>
          <div class="layout__house-info-inner">
            <div class="layout__house-info">114 м<sup>2</sup></div>
            <p class="layout__house-info-text">Площадь застройки</p>
          </div>
          <div class="layout__house-info-inner">
            <div class="layout__house-info">110 м<sup>2</sup></div>
            <p class="layout__house-info-text">Общая площадь</p>
          </div>
          <div class="layout__house-info-inner">
            <div class="layout__house-info">30-40 дней</div>
            <p class="layout__house-info-text">Срок строительства</p>
          </div>
        </div>
        <div class="layout__table">
          <div class="layout__table-item">
            <p class="layout__table-info layout__table-info--color">Этажность</p>
            <p class="layout__table-info">2 этажа</p>
          </div>
          <div class="layout__table-item">
            <p class="layout__table-info layout__table-info--color">Спален</p>
            <p class="layout__table-info">5 спален</p>
          </div>
          <div class="layout__table-item">
            <p class="layout__table-info layout__table-info--color">Санузлы</p>
            <p class="layout__table-info">2 саунызла</p>
          </div>
        </div>
      </div>
      <div class="layout__item">
        <h2 class="layout__title layout__title--position">Планировки</h2>
        <div class="layout__swiper-container">
          <div class="layout__swiper swiper" data-plan-swiper>
            <div class="layout__swiper-inner swiper-wrapper">
              <div class="layout__swiper-slide swiper-slide">
                <a href="./assets/images/layout/layout-1.jpg" data-fancybox="single-plan-slider">
                  <img class="layout__swiper-img" src="./assets/images/layout/layout-1.jpg" alt="План дома" width="328" height="370">
                </a>
                <h4 class="layout__plan-text">План 1 этажа</h4>
              </div>
              <div class="layout__swiper-slide swiper-slide">
                <a href="./assets/images/layout/layout-1.jpg" data-fancybox="single-plan-slider">
                  <img class="layout__swiper-img" src="./assets/images/layout/layout-1.jpg" alt="План дома" width="328" height="370">
                </a>
                <h4 class="layout__plan-text">План 2 этажа</h4>
              </div>
            </div>
          </div>
          <div class="layout__plus-inner">
            <svg class="layout__plus-icon">
              <use xlink:href="./assets/images/svg/set.svg#layout-plus"></use>
            </svg>
          </div>
          <div class="layout__slider-button layout__slider-button--next slider-button slider-button--next swiper-button-next" data-layout-next></div>
          <div class="layout__slider-button layout__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-layout-prev></div>
        </div>
      </div>
    </div>
  </div>
</section>