<section class="material">
  <div class="container">
    <h2 class="material__title">Комплектации</h2>
    <div class="material__wrapper" data-tabs>
      <div class="material__item material__item--content tabs-pane-show" data-tabs-pane >
        <h3 class="material__content-title">Комплектации <span>«Домино» (8,0х12,8)-139м2</span></h3>
        <div class="material__content-table" data-content-hide>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Терасса</p>
            <p class="material__content-house-material">3,0х5,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Крыльцо</p>
            <p class="material__content-house-material">2,0х1,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 1 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 2 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Чистовые полы</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 1 этажа</p>
            <p class="material__content-house-material">2,7 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 2 этажа</p>
            <p class="material__content-house-material">2,5 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стены</p>
            <p class="material__content-house-material">Каркас из доски естественной <br> влажности 50х150 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Перегородки</p>
            <p class="material__content-house-material">Обрезная доска 50х100 с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Окна ПВХ</p>
            <p class="material__content-house-material">Стандартные</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Двери</p>
            <p class="material__content-house-material">Входная металлическая 2,1 х 0,9</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Внутренняя отделка</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Наружная отделка</p>
            <p class="material__content-house-material">Имитация бруса</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Утепление</p>
            <p class="material__content-house-material">Без утепления</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стропила</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Кровельное покрытие</p>
            <p class="material__content-house-material">Ондулин</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лестница</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Фундамент</p>
            <p class="material__content-house-material">-</p>
          </div>
        </div>
        <div class="material__price-inner">
          <div class="material__price-item">
            <p class="material__price">1 550 000 ₽</p>
            <div class="material__old-price-inner">
              <p class="material__old-price"><s>1 820 000 ₽</s></p>
              <div class="material__sale">-25%</div>
            </div>
          </div>
          <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
        </div>
      </div>
      <div class="material__item material__item--content" data-tabs-pane>
        <h3 class="material__content-title">Жилой дом – <span>Утепление 150мм</span></h3>
        <div class="material__content-table" data-content-hide>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Терасса</p>
            <p class="material__content-house-material">3,0х5,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Крыльцо</p>
            <p class="material__content-house-material">2,0х1,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 1 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 2 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Чистовые полы</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 1 этажа</p>
            <p class="material__content-house-material">2,7 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 2 этажа</p>
            <p class="material__content-house-material">2,5 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стены</p>
            <p class="material__content-house-material">Каркас из доски естественной <br> влажности 50х150 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Перегородки</p>
            <p class="material__content-house-material">Обрезная доска 50х100 с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Окна ПВХ</p>
            <p class="material__content-house-material">Стандартные</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Двери</p>
            <p class="material__content-house-material">Входная металлическая 2,1 х 0,9</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Внутренняя отделка</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Наружная отделка</p>
            <p class="material__content-house-material">Имитация бруса</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Утепление</p>
            <p class="material__content-house-material">Без утепления</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стропила</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Кровельное покрытие</p>
            <p class="material__content-house-material">Ондулин</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лестница</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Фундамент</p>
            <p class="material__content-house-material">-</p>
          </div>
        </div>
        <div class="material__price-inner">
          <div class="material__price-item">
            <p class="material__price">1 550 000 ₽</p>
            <div class="material__old-price-inner">
              <p class="material__old-price"><s>1 820 000 ₽</s></p>
              <div class="material__sale">-25%</div>
            </div>
          </div>
          <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
        </div>
      </div>
      <div class="material__item material__item--content" data-tabs-pane>
        <h3 class="material__content-title">Аляска – <span class="material__content-color">Утепление 200мм</span></h3>
        <div class="material__content-table" data-content-hide>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Терасса</p>
            <p class="material__content-house-material">3,0х5,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Крыльцо</p>
            <p class="material__content-house-material">2,0х1,3 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 1 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лаги пола 2 этажа</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Чистовые полы</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 1 этажа</p>
            <p class="material__content-house-material">2,7 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Высота потолка 2 этажа</p>
            <p class="material__content-house-material">2,5 м</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стены</p>
            <p class="material__content-house-material">Каркас из доски естественной <br> влажности 50х150 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Перегородки</p>
            <p class="material__content-house-material">Обрезная доска 50х100 с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Окна ПВХ</p>
            <p class="material__content-house-material">Стандартные</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Двери</p>
            <p class="material__content-house-material">Входная металлическая 2,1 х 0,9</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Внутренняя отделка</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Наружная отделка</p>
            <p class="material__content-house-material">Имитация бруса</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Утепление</p>
            <p class="material__content-house-material">Без утепления</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Стропила</p>
            <p class="material__content-house-material">Доска 50х150 мм с шагом до 640 мм</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Кровельное покрытие</p>
            <p class="material__content-house-material">Ондулин</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Лестница</p>
            <p class="material__content-house-material">-</p>
          </div>
          <div class="material__content-table-item">
            <p class="material__content-house-info">Фундамент</p>
            <p class="material__content-house-material">-</p>
          </div>
        </div>
        <div class="material__price-inner">
          <div class="material__price-item">
            <p class="material__price">1 550 000 ₽</p>
            <div class="material__old-price-inner">
              <p class="material__old-price"><s>1 820 000 ₽</s></p>
              <div class="material__sale">-25%</div>
            </div>
          </div>
          <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
        </div>
      </div>
      <div class="material__item material__item--trigger">
        <div class="material__trigger-inner tabs-active" data-tabs-btn>
          <p class="material__trigger-subtitle">Комплектации «Домино» (8,0х12,8)-139м2</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
                <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
        <div class="material__trigger-inner" data-tabs-btn>
          <p class="material__trigger-subtitle">Жилой дом –Утепление 150мм</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
              <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
        <div class="material__trigger-inner" data-tabs-btn>
          <p class="material__trigger-subtitle">Аляска – Утепление 200мм</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
              <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>