<section class="material" id="material">
  <div class="container">
    <h2 class="material__title">Комплектации</h2>
    <div class="material__wrapper" data-tabs>

      <aside class="material__item material__item--content tabs-pane-show" data-tabs-pane data-hidden-parent>
        <div class="material__meta meta meta--new">Рекомендовано для круглогодичного проживания</div>
          <table>
            <thead>
            <tr>
              <th>Комплектации <span>«Домино» (8,0х12,8)-139м2</span></th>
            </tr>
            </thead>
            <tbody data-content-hide>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Лаги пола 1 этажа</th>
              <th>Доска 50х150 мм с шагом до 640 мм</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            <tr>
              <th>Терасса</th>
              <th>3,0х5,3 м</th>
            </tr>
            </tbody>

          </table>
          <div class="material__price-inner">
            <div class="material__price-item">
              <p class="material__price">1 550 000 ₽</p>
              <div class="material__old-price-inner">
                <p class="material__old-price"><s>1 820 000 ₽</s></p>
                <div class="material__sale">-25%</div>
              </div>
            </div>
            <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
          </div>
        </aside>
      <aside class="material__item material__item--content" data-tabs-pane data-hidden-parent>
        <div class="material__meta meta meta--new">Рекомендовано для круглогодичного проживания</div>
        <table>
          <thead>
          <tr>
            <th>Жилой дом <span>–Утепление 150мм</span></th>
          </tr>
          </thead>
          <tbody data-content-hide>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Лаги пола 1 этажа</th>
            <th>Доска 50х150 мм с шагом до 640 мм</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          </tbody>

        </table>
        <div class="material__price-inner">
          <div class="material__price-item">
            <p class="material__price">1 550 000 ₽</p>
            <div class="material__old-price-inner">
              <p class="material__old-price"><s>1 820 000 ₽</s></p>
              <div class="material__sale">-25%</div>
            </div>
          </div>
          <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
        </div>
      </aside>
      <aside class="material__item material__item--content" data-tabs-pane data-hidden-parent>
        <div class="material__meta meta meta--new">Рекомендовано для круглогодичного проживания</div>
        <table>
          <thead>
          <tr>
            <th>Аляска – <span>Утепление 200мм</span></th>
          </tr>
          </thead>
          <tbody data-content-hide>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Лаги пола 1 этажа</th>
            <th>Доска 50х150 мм с шагом до 640 мм</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          <tr>
            <th>Терасса</th>
            <th>3,0х5,3 м</th>
          </tr>
          </tbody>

        </table>
        <div class="material__price-inner">
          <div class="material__price-item">
            <p class="material__price">1 550 000 ₽</p>
            <div class="material__old-price-inner">
              <p class="material__old-price"><s>1 820 000 ₽</s></p>
              <div class="material__sale">-25%</div>
            </div>
          </div>
          <button class="material__button-hide" data-button-hide>Скрыть характеристики</button>
        </div>
      </aside>

      <div class="material__item material__item--trigger">
        <div class="material__trigger-inner tabs-active" data-tabs-btn data-price-now="1 550 000" data-price-next="1 750 000">
          <p class="material__trigger-subtitle">Комплектации «Домино» (8,0х12,8)-139м2</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
                <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
        <div class="material__trigger-inner" data-tabs-btn data-price-now="1 650 000" data-price-next="1 950 000">
          <p class="material__trigger-subtitle">Жилой дом –Утепление 150мм</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
              <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
        <div class="material__trigger-inner" data-tabs-btn data-price-now="2 550 000" data-price-next="2 750 000">
          <p class="material__trigger-subtitle">Аляска – Утепление 200мм</p>
          <div class="material__trigger-icon-inner">
            <svg class="material__trigger-icon">
              <use class="material-store-icon" xlink:href="./assets/images/svg/set.svg#material-store"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>