<section class="base">
  <div class="container">
    <div class="base__wrapper">
      <div class="base__item">
        <img class="base__img" src="./assets/images/build/1.jpg" alt="Фото" width="580" height="390">
      </div>
      <div class="base__item">
        <h2 class="base__title">Производственная база</h2>
        <p class="base__text">Наше производственная база находится в нижнем Новгороде и представляет собой 1000м2 крытых и 1000м2 открытых площадей. Мы работаем на современном оборудовании мировых лидеров станкостроения: Stromab и Hundegger. Кроме цеха по производству каркасных домокомплектов в компании есть лесоперерабатывающая база, цех строжки и сушильный комплекс в г. Семенов. </p>
        <p class="base__text">Мы с удовольствием приглашаем наших клиентов посетить наше производство в Нижнем Новгороде для знакомства с технологиями производства наших домов.</p>
      </div>
    </div>
  </div>
</section>