<section class="comparison">
  <div class="container">
    <h2 class="comparison__title"><span class="comparison__title-color">Сравнение</span> каркасов</h2>
    <div class="comparison__wrapper">
      <div class="comparison__item">
        <div class="comparison__img-inner">
          <h3 class="comparison__item-title">Обычный каркас</h3>
          <img class="comparison__image" src="./assets/images/comprasion/1.jpg" alt="Фото" width="590" height="270">
        </div>
        <div class="comparison__text-inner">
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>


      </div>
      <div class="comparison__item">
        <div class="comparison__img-inner">
          <h3 class="comparison__item-title">Заводской каркас</h3>
          <img class="comparison__image" src="./assets/images/comprasion/1.jpg" alt="Фото" width="590" height="270">
        </div>
        <div class="comparison__text-inner">
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="comparison__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>


      </div>
    </div>
  </div>
</section>