<section class="hero hero--build">
  <div class="hero__wrapper">
    <div class="hero__item">
      <h1 class="hero__title hero__title--small">От производства <br> до сборки</h1>
      <p class="hero__text">В 2019 году мы запустили производство заводских каркасных домокомплектов по современной американской технологии Precutframe: все элементы дома предварительно распиливаются на высокоточном автоматизированном оборудовании на производстве, маркируются . Это дает идеальную геометрию элементов домокомплекта, гарантирует точность сборки и исключительное качество будущего дома. Сборка дома происходит по типу «лего» .</p>
    </div>
    <div class="hero__item">
      <a class="hero__video" data-fancybox="hero-build" data-src="https://youtu.be/EgTGPDdlJ10"> <img src="./assets/images/build/1.jpg" alt="Фото"></a>
    </div>
  </div>
</section>


