<section class="other-sections">
  <div class="container">
     <h2 class="other-sections__title">Другие <span>разделы</span></h2>
    <div class="other-sections__wrapper">
      <a class="other-sections__item" href="#" data-bg="./images/other-section/1.jpg" data-bg-webp="./assets/images/other-section/1.webp">
        <p class="other-sections__text">Выставка домов</p>
      </a>
      <a class="other-sections__item" href="#" data-bg="./images/other-section/2.jpg" data-bg-webp="./assets/images/other-section/2.webp">
        <p class="other-sections__text">Выставка домов</p>
      </a>
    </div>
  </div>
</section>