<section class="privilege">
  <div class="container">
    <h2 class="privilege__title">Преимущества технологии</h2>
    <div class="privilege__container">
      <div class="privilege__wrapper" data-privilege-slider>
        <div class="privilege__inner">
          <div class="privilege__item">
              <div class="privilege__img-inner">
                <img src="./assets/images/privilege/1.jpg" alt="Фото" width="244" height="184">
              </div>
            <p class="privilege__text">Идеальная геометрия элементов домокомплекта</p>
          </div>
          <div class="privilege__item">
            <div class="privilege__img-inner">
              <img src="./assets/images/privilege/1.jpg" alt="Фото" width="244" height="184">
            </div>
            <p class="privilege__text">Антисептирование каркаса методом полного погружения</p>
          </div>
          <div class="privilege__item">
            <div class="privilege__img-inner">
              <img src="./assets/images/privilege/1.jpg" alt="Фото" width="244" height="184">
            </div>
            <p class="privilege__text">Контроль качества материалов на этапе производства</p>
          </div>
          <div class="privilege__item">
            <div class="privilege__img-inner">
              <img src="./assets/images/privilege/1.jpg" alt="Фото" width="244" height="184">
            </div>
            <p class="privilege__text">Возведение дома бригадой строителей строго по чертежам, исключая погрешности</p>
          </div>
          <div class="privilege__item">
            <div class="privilege__img-inner">
              <img src="./assets/images/privilege/1.jpg" alt="Фото" width="244" height="184">
            </div>
            <p class="privilege__text">Быстрые сроки сдачи проекта за счёт собственной технологии строительства</p>
          </div>
        </div>
      </div>
      <div class="privilege__control-inner control">
        <div class="privilege__slider-button privilege__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-privilege-prev></div>
        <div class="privilege__pagination swiper-pagination custom-pagination control__pagination" data-privilege-pagination></div>
        <div class="privilege__slider-button privilege__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-privilege-next></div>
      </div>
    </div>
  </div>
</section>