<section class="redirect">
  <div class="container">
    <h1>Страница редиректа</h1>
    <img src="./assets/images/redirect/1.jpg" alt="Фото">
    <div>
      <h2>Общие положения</h2>
      <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее – Оператор).</p>
      <ol>
        <li>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
        <li>Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="httpsː//thismywebsite·com" target="_blank">httpsː//thismywebsite·com</a>.</li>
      </ol>
      <h2>Общие положения</h2>
      <ol>
        <li>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
        <li>Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="httpsː//thismywebsite·com" target="_blank">httpsː//thismywebsite·com</a>.</li>
      </ol>
    </div>
  </div>
</section>