<section class="reviews reviews--stars">
  <div class="container">
    <div class="reviews__title-wrapper">
      <h1 class="reviews__title">Отзывы</h1>
      <div class="reviews__filter-inner">
        <a class="reviews__filter reviews__filter--active" href="#">Отзывы</a>
        <a class="reviews__filter" href="#">Фото отзывы</a>
        <a class="reviews__filter" href="#">Видео отзывы</a>
      </div>
    </div>
    <div class="reviews__wrapper">
      <div class="reviews__item reviews__item--stars">
        <div class="reviews__main-wrapper reviews__main-wrapper--text">

          <div class="reviews__review-wrapper" data-review-parent>
            <div class="reviews__review-inner" data-hidden-review>
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">

                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.2</div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="reviews__body">
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.
                  <span class="reviews__hidden" data-content-review>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consequatur dignissimos doloremque excepturi fugiat iusto minima natus nostrum odio quae quam rerum sapiente sint suscipit, temporibus vel voluptas!</span>
                </p>
                <button class="reviews__project-link" data-button-review>Открыть полностью</button>
              </div>
            </div>
          </div>

          <div class="reviews__review-wrapper" data-review-parent>
            <div class="reviews__review-inner">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">

                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.2</div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="reviews__body" data-hidden-review>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.
                  <span class="reviews__hidden" data-content-review>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consequatur dignissimos doloremque excepturi fugiat iusto minima natus nostrum odio quae quam rerum sapiente sint suscipit, temporibus vel voluptas!</span>
                </p>
                <button class="reviews__project-link" data-button-review>Открыть полностью</button>
              </div>
            </div>
          </div>

          <div class="reviews__review-wrapper" data-review-parent>
            <div class="reviews__review-inner">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">

                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.2</div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="reviews__body" data-hidden-review>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.
                  <span class="reviews__hidden" data-content-review>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consequatur dignissimos doloremque excepturi fugiat iusto minima natus nostrum odio quae quam rerum sapiente sint suscipit, temporibus vel voluptas!</span>
                </p>
                <button class="reviews__project-link" data-button-review>Открыть полностью</button>
              </div>
            </div>
          </div>

          <div class="reviews__review-wrapper" data-review-parent>
            <div class="reviews__review-inner">
              <div class="reviews__head">
                <div class="reviews__icon">
                  <p class="reviews__icon-text">С.Ч.</p>
                </div>
                <div class="reviews__user-wrapper">
                  <h4 class="reviews__name">Клишина Ольга</h4>
                  <form class="reviews__rating rating-form" action="#">

                    <div class="rating" data-star-rating>
                      <div class="rating__body">
                        <div class="rating__active"></div>
                        <div class="rating__items">
                          <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                        </div>
                        <div class="rating__value">4.2</div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="reviews__body" data-hidden-review>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.
                  <span class="reviews__hidden" data-content-review>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consequatur dignissimos doloremque excepturi fugiat iusto minima natus nostrum odio quae quam rerum sapiente sint suscipit, temporibus vel voluptas!</span>
                </p>
                <button class="reviews__project-link" data-button-review>Открыть полностью</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="pagination">
      <div class="pagination__body">
        <button class="pagination__element pagination__number pagination__number--active" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <div class="pagination__element pagination__dots">...</div>
        <button class="pagination__element pagination__more" type="button"></button>
      </div>
    </div>
  </div>
</section>