<div class="popup popup--callback" data-callback>
  <div class="popup__body popup__body--callback">
    <div class="popup__item popup__item--img"></div>
    <div class="popup__item popup__item--form popup__item--form-callback">
      <h2 class="popup__title">Хотите увидеть наши дома вживую?</h2>
      <p class="popup__text">Записывайтесь на ближайший просмотр строящегося дома! Мы расскажем о всех этапах строительства, копмлектаций и стоимости</p>
      <form class="popup__form popup__form--callback">
        <fieldset class="popup__form-wrapper">
          <label class="popup__label"><input class="popup__input" type="text" name="Name" placeholder="Ваше имя"></label> <label class="popup__label"><input class="popup__input" type="tel" name="Phone" placeholder="+7 ХХХ ХХХ ХХ ХХ"></label>
          <button class="popup__button" type="button">Записаться</button>
        </fieldset>
        <label class="popup__checkbox-inner"> <input class="popup__checkbox" type="checkbox" hidden checked> <span class="popup__fake-checkbox"></span> <span class="popup__politic-inner">Я согласен на обработку <a class="popup__politic" href="#">персональных данных</a></span> </label>
      </form>
    </div>
    <svg class="popup__close" data-close>
      <use href="./assets/images/svg/set.svg#close-popup"></use>
    </svg>
  </div>
</div>





<div class="show-home">
  <div class="show-home__body">
    <div class="show-home__wrapper">
      <div class="show-home__link-inner">
        <a class="show-home__link" href="#">Выставка домов</a>
      </div>
      <div class="show-home__icon-inner">
        <svg class="show-home__icon">
          <use href="./assets/images/svg/set.svg#show-home"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="mobile-down">
  <div class="mobile-down__body">
    <a class="mobile-down__item" href="#">
      <svg class="mobile-down__icon">
        <use class="mobile-down__icon-color" href="./assets/images/svg/menu-set.svg#catalog"></use>
      </svg>
      <p class="mobile-down__text">Каталог</p>
    </a> <a class="mobile-down__item" href="#">
    <svg class="mobile-down__icon">
      <use class="mobile-down__icon-color" href="./assets/images/svg/menu-set.svg#contacts"></use>
    </svg>
    <p class="mobile-down__text">Контакты</p>
  </a> <a class="mobile-down__item" href="#">
    <svg class="mobile-down__icon">
      <use class="mobile-down__icon-color" href="./assets/images/svg/menu-set.svg#search"></use>
    </svg>
    <p class="mobile-down__text">Поиск</p>
  </a> <a class="mobile-down__item" href="#">
    <svg class="mobile-down__icon">
      <use class="mobile-down__icon-color" href="./assets/images/svg/menu-set.svg#about"></use>
    </svg>
    <p class="mobile-down__text">О компании</p>
  </a> <a class="mobile-down__item" href="#">
    <svg class="mobile-down__icon">
      <use class="mobile-down__icon-color" href="./assets/images/svg/menu-set.svg#catalog"></use>
    </svg>
    <p class="mobile-down__text">Отзывы</p>
  </a>
  </div>
</div>