<section class="catalog-project">
  <div class="container">
    <h1 class="catalog-project__title"><span class="catalog-project__color">Каталог</span> проектов</h1>
    <div class="catalog-project__wrapper">
      <div class="catalog-project__filter-inner" data-filter-catalog-project>
        <div class="catalog-project__filter-item">
          <p class="catalog-project__filter-type">По типу</p>
          <div class="catalog-project__custom-select catalog-project__custom-select--type custom-select itc-select" data-type-select>
            <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Загородные дома</button>
            <div class="itc-select__dropdown">
              <ul class="itc-select__options">
                <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="catalog-project__filter-item">
          <p class="catalog-project__filter-type">Технологии</p>
          <div class="catalog-project__custom-select catalog-project__custom-select--technologies custom-select itc-select" data-technologies-select>
            <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Каркасные дома</button>
            <div class="itc-select__dropdown">
              <ul class="itc-select__options">
                <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="catalog-project__filter-item">
          <p class="catalog-project__filter-type">Цена</p>
          <label class="catalog-project__price-label">
            <input class="catalog-project__number" type="number" placeholder="От">
            <input class="catalog-project__number" type="number" placeholder="До">
          </label>
        </div>

        <div class="catalog-project__filter-item">
          <p class="catalog-project__filter-type">Этаж</p>
          <div class="catalog-project__custom-select catalog-project__custom-select--floor custom-select itc-select" data-floor-select>
            <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">Одноэтажные</button>
            <div class="itc-select__dropdown">
              <ul class="itc-select__options">
                <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="catalog-project__filter-item">
          <p class="catalog-project__filter-type">Площадь</p>
          <div class="catalog-project__custom-select catalog-project__custom-select--square custom-select itc-select" data-square-select>
            <button class="itc-select__toggle" type="button" name="" value="" data-select="toggle" data-index="-1">> 180м²</button>
            <div class="itc-select__dropdown">
              <ul class="itc-select__options">
                <li class="itc-select__option" data-select="option" data-value="" data-index="0">Общепромышленное, углеродистая сталь</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="1">Общепромышленное коррозионностойкое (К1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="2">Взрывозащищенное из разнородных металлов (В)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="3">Взрывозащищенное, алюминий (ВК3)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="4">Взрывозащищенное, коррозионностойкое (ВК1)</li>
                <li class="itc-select__option" data-select="option" data-value="" data-index="5">Жаростойкое (Ж)</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="catalog-project__card-inner">
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">

                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--sale">СКИДКА 25%</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
              </div>

            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
        <div class="catalog-project__card card">
          <div class="card__house">
            <div class="card__house-top" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp">
              <div class="card__meta-inner">
                <div class="card__meta-box">
                  <div class="meta meta--new">НОВИНКА</div>
                  <div class="meta meta--sale">СКИДКА 25%</div>
                  <div class="meta meta--hit">ХИТ</div>
                </div>
                <button class="favorite" data-favorite-button>
                  <svg class="favorite__icon">
                    <use xlink:href="./assets/images/svg/set.svg#favorite"></use>
                  </svg>
                </button>
              </div>
              <div class="card__text-inner-top">
                <p class="card__house-subtitle">ДОМ НА ВЫСТАВКЕ</p>
                <h3 class="card__house-title">Каркасный дом «Миндаль»</h3>
              </div>
            </div>
            <div class="card__house-bottom">
              <p class="card__metre">126 м<sub>2</sub></p>
              <div class="card__price-inner">
                <p class="card__price-now">3 484 053 ₽</p>
                <p class="card__price-month">Цена в феврале</p>
              </div>
              <div class="card__price-inner">
                <p class="card__price-now card__price-now--next">4 484 053 ₽</p>
                <p class="card__price-month">Цена в Марте</p>
              </div>
            </div>
          </div>
          <a class="card__link" href="#"></a>
        </div>
      </div>
      <div class="pagination">
        <div class="pagination__body">
          <button class="pagination__element pagination__number pagination__number--active" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <button class="pagination__element pagination__number" type="button"></button>
          <div class="pagination__element pagination__dots">...</div>
          <button class="pagination__element pagination__more" type="button"></button>
        </div>
      </div>
    </div>

  </div>
</section>