<section class="stocks">
  <div class="container">
    <article class="stocks__title-inner">
      <h1 class="stocks__title">Акции</h1>
      <aside class="stocks__filter-inner" data-stocks-body>
        <button class="stocks__filter active" data-filter-type="Все акции">Все акции</button>
        <button class="stocks__filter" data-filter-type="Активные">Активные</button>
        <button class="stocks__filter" data-filter-type="Не активные">Не активные</button>
      </aside>
    </article>
    <div class="stocks__wrapper" data-target-body>
      <a class="stocks__card stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
        <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
      </a>
      <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a>
      <a class="stocks__card stocks__card--not-active stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Не активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a>
      <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a> <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a> <a class="stocks__card stocks__card--not-active stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Не активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a> <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a> <a class="stocks__card stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a> <a class="stocks__card stocks__card--not-active stocks-card" href="#" data-bg="./assets/images/hit/hit-3.jpg" data-bg-webp="./assets/images/hit/hit-3.webp" data-filter-target="Не активные">
      <time class="stocks-card__time meta meta--new" datetime="3d">С 11 по 14 июля</time>
      <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </a>
    </div>
    <div class="pagination">
      <div class="pagination__body">
        <button class="pagination__element pagination__number pagination__number--active" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <button class="pagination__element pagination__number" type="button"></button>
        <div class="pagination__element pagination__dots">...</div>
        <button class="pagination__element pagination__more" type="button"></button>
      </div>
    </div>
  </div>
</section>