<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <article class="about__inner">
        <h2 class="about__title">О компании</h2>
        <div class="about__text-inner">
          <p class="about__text">Строительная компания «Белый дом» с 2008 года успешно ведет свою деятельность в малоэтажном домостроении. За годы работы мы построили более 1800 домов в 60 городах России. </p>
          <p class="about__text">Наша миссия- строительство качественных, доступных и современных домов. Мы приглашаем Вас посетить нашу Выставку готовых домов и производство каркасных домокомплектов в Нижний Новгороде.</p>
        </div>
        <a class="about__button" href="#">Подробнее о нас</a>
      </article>
    </div>
  </div>
</section>

