<section class="bank">
  <div class="container">
    <div class="bank__wrapper">
      <div class="bank__item">
        <h2 class="bank__title">Одобрим ипотеку <span class="bank__title-color">в любом банке!</span></h2>
        <ul class="bank__list">
          <li class="bank__list-item">Аккредитованы во всех крупных банках РФ</li>
          <li class="bank__list-item">Подготовим весь пакет документов</li>
          <li class="bank__list-item">Подберем льготную программу</li>
          <li class="bank__list-item">Возможна ипотека без залога и поручителя</li>
        </ul>
        <button class="bank__button">Бесплатная консультация</button>
      </div>
      <div class="bank__item bank__item--bank-box">
        <div class="bank__list-bank">
          <img class="bank__image" src="./assets/images/bank/bank-1.png" alt="Логотип банка " loading="lazy" width="66" height="24">
          <img class="bank__image" src="./assets/images/bank/bank-2.png" alt="Логотип банка " loading="lazy" width="89" height="31">
          <img class="bank__image" src="./assets/images/bank/bank-3.png" alt="Логотип банка " loading="lazy" width="112" height="24">
          <img class="bank__image" src="./assets/images/bank/bank-4.png" alt="Логотип банка " loading="lazy" width="150" height="34">
          <img class="bank__image" src="./assets/images/bank/bank-5.png" alt="Логотип банка " loading="lazy" width="145" height="22">
        </div>
        <div class="bank__list-number-inner">
          <div class="bank__list-number-box">
            <p class="bank__list-number-big">от 3%</p>
            <p class="bank__list-number-small">Ставка</p>
          </div>
          <div class="bank__list-number-box">
            <p class="bank__list-number-big">До 30 лет</p>
            <p class="bank__list-number-small">Срок</p>
          </div>
          <div class="bank__list-number-box">
            <p class="bank__list-number-big">до 12 млн. ₽</p>
            <p class="bank__list-number-small">Ставка</p>
          </div>
          <div class="bank__list-number-box">
            <p class="bank__list-number-big">100+</p>
            <p class="bank__list-number-small">Клиентов</p>
          </div>
          <div class="bank__list-number-box">
            <p class="bank__list-number-big">1 000 000 000</p>
            <p class="bank__list-number-small">Выдали кредитов</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>