<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__swiper-text swiper" data-check-autoplay data-hero-swiper-text>
      <div class="hero__swiper-text-wrapper swiper-wrapper">
        <div class="hero__swiper-text-slide swiper-slide">
          <h1 class="hero__title">Выбирай каркасный дом <br> <span class="hero__text-color">заводского производства</span></h1>
          <ul class="hero__list">
            <li class="hero__list-item">Из сухой строганной доски</li>
            <li class="hero__list-item">Сборка по типу “Лего”</li>
            <li class="hero__list-item">Производство в черте города</li>
          </ul>
          <a class="hero__link" href="#">Подробнее</a>
        </div>
        <div class="hero__swiper-text-slide swiper-slide">
          <h1 class="hero__title">Выбирай каркасный дом <br> <span class="hero__text-color">заводского производства</span></h1>
          <ul class="hero__list">
            <li class="hero__list-item">Из сухой строганной доски</li>
            <li class="hero__list-item">Производство в черте города</li>
          </ul>
          <a class="hero__link" href="#">Подробнее</a>
        </div>
        <div class="hero__swiper-text-slide swiper-slide">
          <h1 class="hero__title">Выбирай каркасный дом <br> <span class="hero__text-color">заводского производства</span></h1>
          <ul class="hero__list">
            <li class="hero__list-item">Из сухой строганной доски</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="hero__swiper-img swiper" data-hero-swiper-img>
      <div class="hero__swiper-img-wrapper swiper-wrapper">
        <div class="hero__swiper-img-slide swiper-slide">
          <img class="hero__swiper-img" src="./assets/images/hero/hero-back.png" alt="Фото" width="1168" height="716" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="hero__swiper-img-slide swiper-slide">
          <img class="hero__swiper-img" src="./assets/images/hero/hero-back.png" alt="Фото" width="1168" height="716" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="hero__swiper-img-slide swiper-slide">
          <img class="hero__swiper-img" src="./assets/images/hero/hero-back.png" alt="Фото" width="1168" height="716" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__swiper-text-pagination custom-pagination swiper-pagination" data-hero-swiper-text-pagination></div>
  <div class="hero__round-inner"><svg class="hero__round"><use xlink:href="./assets/images/svg/set.svg#hero-round"></use></svg>
    <div class="hero__round-text-wrapper">
      <a class="hero__round-text-inner" data-fancybox="hero-about-video" data-src="https://youtu.be/EgTGPDdlJ10" >
        <p class="hero__round-subtitle">О компании</p>
        <p class="hero__round-text">Видео займёт 3 минуты</p>
      </a>
    </div>
  </div>
</section>


