<section class="order">
  <div class="container">
    <h2 class="order__title">Как сделать <span class="order__title-color">заказ</span></h2>
    <div class="order__wrapper">
      <div class="order__item">
          <div class="order__number"></div>
        <h3 class="order__subtitle">Проектирование дома под Ваш земельный участок</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Одобрение ипотеки</h3>
      </div>
      <div class="order__item" >
        <div class="order__number"></div>
        <h3 class="order__subtitle">Заключение договора на строительство</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Монтаж фундамента</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Возведение дома</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Монтаж коммуникаций</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Дом готов</h3>
      </div>
      <div class="order__item">
        <div class="order__number"></div>
        <h3 class="order__subtitle">Проектирование дома под Ваш земельный участок</h3>
        <a class="order__link" href="#">Обсудить проект</a>
      </div>
    </div>
  </div>
</section>