<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы</h2>
    <div class="reviews__wrapper">
      <div class="reviews__item reviews__item--video">
        <div class="reviews__swiper-big swiper" data-reviews-big data-check-autoplay>
          <div class="reviews__swiper-big-wrapper swiper-wrapper">
            <div class="reviews__big-slide swiper-slide">
              <a href="./assets/images/hit/hit-2.jpg" data-fancybox="reviews-gallery"><img src="./assets/images/hit/hit-2.jpg" alt="Фото" width="550" height="264" loading="lazy"></a>
              <p class="reviews__text">Спецвыпуск – телевидение в гостях у СК "Белый дом" строительство домов</p>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="reviews__big-slide swiper-slide">
              <a href="./assets/images/hit/hit-3.jpg" data-fancybox="reviews-gallery"><img src="./assets/images/hit/hit-2.jpg" alt="Фото" width="550" height="264" loading="lazy"></a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="reviews__big-slide swiper-slide">
              <a href="./assets/images/hit/hit-2.jpg" data-fancybox="reviews-gallery"><img src="./assets/images/hit/hit-2.jpg" alt="Фото" width="550" height="264" loading="lazy"></a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="reviews__big-slide swiper-slide">
              <a href="./assets/images/hit/hit-3.jpg" data-fancybox="reviews-gallery"><img src="./assets/images/hit/hit-3.jpg" alt="Фото" width="550" height="264" loading="lazy"></a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="reviews__big-slide swiper-slide">
              <a href="./assets/images/hit/hit-2.jpg" data-fancybox="reviews-gallery"><img src="./assets/images/hit/hit-2.jpg" alt="Фото" width="550" height="264" loading="lazy"></a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
        <div class="reviews__slider-container">
          <div class="reviews__swiper-thumb swiper" data-reviews-thumb>
            <div class="reviews__swiper-thumb-wrapper swiper-wrapper">
              <div class="reviews__thumb-slide swiper-slide">
                <img src="./assets/images/reviews/reviews-thumb.jpg" alt="Миниатюры" width="125" height="78">
              </div>
              <div class="reviews__thumb-slide swiper-slide">
                <img src="./assets/images/reviews/reviews-thumb.jpg" alt="Миниатюры" width="125" height="78">
              </div>
              <div class="reviews__thumb-slide swiper-slide">
                <img src="./assets/images/reviews/reviews-thumb.jpg" alt="Миниатюры" width="125" height="78">
              </div>
              <div class="reviews__thumb-slide swiper-slide">
                <img src="./assets/images/reviews/reviews-thumb.jpg" alt="Миниатюры" width="125" height="78">
              </div>
              <div class="reviews__thumb-slide swiper-slide">
                <img src="./assets/images/reviews/reviews-thumb.jpg" alt="Миниатюры" width="125" height="78">
              </div>
            </div>
          </div>
          <div class="reviews__slider-button reviews__slider-button--next slider-button slider-button--next swiper-button-next" data-reviews-next></div>
          <div class="reviews__slider-button reviews__slider-button--prev slider-button slider-button--prev swiper-button-prev" data-reviews-prev></div>
        </div>
      </div>
      <div class="reviews__item reviews__item--text">
          <div class="reviews__main-wrapper">
            <div class="reviews__review-wrapper">
              <div class="reviews__icon">
                <p class="reviews__icon-text">С.Ч.</p>
              </div>
              <div class="reviews__body">
                <h4 class="reviews__name">Клишина Ольга</h4>
                <form class="reviews__rating rating-form" action="#">
                  <div class="rating" data-star-rating>
                    <div class="rating__body">
                      <div class="rating__active"></div>
                      <div class="rating__items">
                        <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                      </div>
                      <div class="rating__value">4.5</div>
                    </div>
                  </div>
                </form>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
            <div class="reviews__review-wrapper">
              <div class="reviews__icon">
                <p class="reviews__icon-text">С.Ч.</p>
              </div>
              <div class="reviews__body">
                <h4 class="reviews__name">Клишина Ольга</h4>
                <form class="reviews__rating rating-form" action="#">
                  <div class="rating" data-star-rating>
                    <div class="rating__body">
                      <div class="rating__active"></div>
                      <div class="rating__items">
                        <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                      </div>
                      <div class="rating__value">2.5</div>
                    </div>
                  </div>
                </form>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
            <div class="reviews__review-wrapper">
              <div class="reviews__icon">
                <p class="reviews__icon-text">С.Ч.</p>
              </div>
              <div class="reviews__body">
                <h4 class="reviews__name">Клишина Ольга</h4>
                <form class="reviews__rating rating-form" action="#">
                  <div class="rating" data-star-rating>
                    <div class="rating__body">
                      <div class="rating__active"></div>
                      <div class="rating__items">
                        <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                      </div>
                      <div class="rating__value">4</div>
                    </div>
                  </div>
                </form>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
            <div class="reviews__review-wrapper">
              <div class="reviews__icon">
                <p class="reviews__icon-text">С.Ч.</p>
              </div>
              <div class="reviews__body">
                <h4 class="reviews__name">Клишина Ольга</h4>
                <form class="reviews__rating rating-form" action="#">
                  <div class="rating" data-star-rating>
                    <div class="rating__body">
                      <div class="rating__active"></div>
                      <div class="rating__items">
                        <label class="rating__label"> <input class="rating__item" type="radio" value="1" name="rating"> </label> <label class="rating__label"> <input class="rating__item" type="radio" value="2" name="rating"> </label> <label class="rating__label"><input class="rating__item" type="radio" value="3" name="rating"></label> <label class="rating__label"><input class="rating__item" type="radio" value="4" name="rating"></label> <label class="rating__item"><input class="rating__item" type="radio" value="5" name="rating"></label>
                      </div>
                      <div class="rating__value">4.5</div>
                    </div>
                  </div>
                </form>
                <p class="reviews__project-name">Дом по проекту "Емельян"</p>
                <p class="reviews__project-text">Большое спасибо компании "Белый дом" за то, что дом был построен качественно и в срок. Цены на сайте соответствуют действительности. Отдельное спасибо менеджерам и бригаде.</p>
                <a class="reviews__project-link" href="#">Читать отзыв</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <a class="reviews__button" href="#">Смотреть все отзывы</a>
  </div>
</section>