<section class="tile">
  <div class="container">
    <div class="tile__container" data-tile-mobile-slider>
      <div class="tile__inner">
        <div class="tile__item">
          <h4 class="tile__item-subtitle">Выставка готовых домов</h4>
          <p class="tile__item-text">Оцените качество , почувствуйте габариты, выберите планировку и потрогайте руками свой будущий дом в г.Нижний Новгород. </p>
        </div>
        <div class="tile__item">
          <h4 class="tile__item-subtitle">Заводское производство каркасных домокомплектов</h4>
          <p class="tile__item-text">Строим из силовых каркасов идеальной геометрии, из сухой строганной доски, запиленных на автоматизированном немецком оборудовании, промаркерованных и антисептированных в заводских условиях. Сборка дома происходит по типу "лего".</p>
        </div>
        <div class="tile__item">
          <h4 class="tile__item-subtitle">Собственное проектно-конструкторское бюро</h4>
          <p class="tile__item-text">Индивидуальные проекты любой сложности, высокопрофессиональные чертежи, любые перепланировки, отрисовка дизайна.</p>
        </div>
      </div>
      <div class="tile__control-inner control">
        <div class="tile__slider-button tile__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-tile-prev></div>
        <div class="tile__pagination swiper-pagination custom-pagination control__pagination" data-tile-pagination></div>
        <div class="tile__slider-button tile__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-tile-next></div>
      </div>
    </div>
  </div>
</section>