<section class="best best--services">
  <div class="container">
    <h2 class="best__title"><span class="best__color">Другие </span>услуги</h2>
    <div class="best__swiper-container">
      <div class="best__swiper swiper" data-best-swiper>
        <div class="best__swiper-wrapper swiper-wrapper">
          <div class="best__slide card swiper-slide"><a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-4.jpg" data-bg-webp="./assets/images/hit/hit-4.webp">
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a></div>
          <div class="best__slide card swiper-slide"><a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-5.jpg" data-bg-webp="./assets/images/hit/hit-6.webp">
            <h3 class="stocks-card__title">Длинное заголовок акции </h3>
          </a></div>
          <div class="best__slide card swiper-slide"><a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-6.jpg" data-bg-webp="./assets/images/hit/hit-6.webp">
            <h3 class="stocks-card__title">Длинное заголовок акции </h3>
          </a></div>
          <div class="best__slide card swiper-slide"><a class="stocks-card" href="stocks-inside-page.html" data-bg="./assets/images/hit/hit-5.jpg" data-bg-webp="./assets/images/hit/hit-5.webp">
              <h3 class="stocks-card__title">Длинное заголовок акции </h3>
            </a></div>

        </div>
      </div>
      <div class="best__control-inner control">
        <div class="best__slider-button best__slider-button--prev slider-button slider-button--prev swiper-button-prev control__button" data-best-prev></div>
        <div class="best__pagination swiper-pagination custom-pagination control__pagination" data-best-pagination></div>
        <div class="best__slider-button best__slider-button--next slider-button slider-button--next swiper-button-next control__button" data-best-next></div>
      </div>
      <a class="best__link" href="#">Смотреть все услуги</a>
    </div>
  </div>
</section>

