<section class="inside inside--services">
  <div class="container">
    <h1>Работы с фундаментом</h1>
    <article class="inside__card stocks-card stocks-card--services" data-bg="./assets/images/inside/inside-services.jpg" data-bg-webp="./assets/images/inside/inside-services.webp">
        <h3 class="stocks-card__title">Длинное заголовок акции </h3>
    </article>
    <h3>Вы получаете обьективного и умного партнёра, который будет рассчитывать, визуализировать и стандартизировать ваш контроль качества. Поднимите качество вашего проекта до высот, которые вы никогда не могли себе представить</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
    <p>
      <span>Вы получаете обьективного и умного партнёра, который будет рассчитывать, визуализировать и стандартизировать ваш контроль качества. Поднимите качество вашего проекта до высот, которые вы никогда не могли себе представить</span>
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text everLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
    <div>
      <h3>Хотите заказать “Название услуги”?</h3>
      <a href="#">Записаться</a>
    </div>
  </div>
</section>