<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Преимущества</h2>
    <div class="advantages__wrapper">
      <div class="advantages__item">
        <div class="advantages__img" data-bg="./assets/images/advantages/advantages-1.jpg" data-bg-webp="./assets/images/advantages/advantages-1.webp"></div>
        <div class="advantages__text-inner">
          <h4 class="advantages__subtitle">Выставка домов <br> «Белый дом»</h4>
          <p class="advantages__text">Обязательна к посещению, если Вы задумываетесь о строительстве собственного дома...</p>
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__img" data-bg="./assets/images/advantages/advantages-2.jpg" data-bg-webp="./assets/images/advantages/advantages-2.webp"></div>
        <div class="advantages__text-inner">
          <h4 class="advantages__subtitle">Многолетний опыт и завод <br> быстросборных <br> домокомплектов</h4>
          <p class="advantages__text">Мы работаем на рынке малоэтажного домостроения с 2008 года, построили более 2000 домов, наработали огромный опыт, а в 2017г. запустили производство быстросборных домокомплектов по типу «лего». Сегодня мы строим дома принципиально нового поколения, вне конкуренции по качеству на рынке малоэтажного домостроения в РФ.</p>
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__img" data-bg="./assets/images/advantages/advantages-3.jpg" data-bg-webp="./assets/images/advantages/advantages-3.webp"></div>
        <div class="advantages__text-inner">
          <h4 class="advantages__subtitle">Аккредитация во всех крупных банках РФ</h4>
          <p class="advantages__text">За многолетний опыт наша компания завоевала доверие не только клиентов , но и партнеров...</p>
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__img" data-bg="./assets/images/advantages/advantages-4.jpg" data-bg-webp="./assets/images/advantages/advantages-4.webp"></div>
        <div class="advantages__text-inner">
          <h4 class="advantages__subtitle">Собственное <br> Архитектурно-<br>конструкторское бюро</h4>
          <p class="advantages__text">Это профессиональный подход к строительству на всех этапах : от... </p>
        </div>
      </div>
    </div>
  </div>
</section>