<section class="category">
  <div class="container">
    <h1 class="category__title">Категории</h1>
    <div class="category__wrapper" data-tabs>
      <div class="category__trigger-inner">
        <button class="category__trigger tabs-active" type="button" data-tabs-btn>По технологии</button>
        <button class="category__trigger" type="button" data-tabs-btn>По типу</button>
        <button class="category__trigger" type="button" data-tabs-btn>По метражу</button>
        <button class="category__trigger" type="button" data-tabs-btn>По этажности</button>
      </div>
      <div class="category__content-inner tabs-pane-show technologies" data-tabs-pane>
        <a class="category__item" href="categories-single.html" data-bg="./assets/images/category/categori-1.png" data-bg-webp="./assets/images/category/categori-1.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-1"></use>
            </svg>

          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Каркасные дома</h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a> <a class="category__item" href="#" data-bg="./assets/images/category/categori-2.png" data-bg-webp="./assets/images/category/categori-2.webp">
        <div class="category__item-icon-inner">
          <svg class="category__item-icon">
            <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-2"></use>
          </svg>

        </div>
        <div class="category__item-text-inner">
          <h4 class="category__item-subtitle">Каменные дома</h4>
          <p class="category__item-fake-link">Перейти</p>
        </div>
      </a>
      </div>
      <div class="category__content-inner type" data-tabs-pane>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-3.png" data-bg-webp="./assets/images/category/categori-3.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
            </svg>

          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Загородные дома</h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a> <a class="category__item" href="#" data-bg="./assets/images/category/categori-4.png" data-bg-webp="./assets/images/category/categori-4.webp">
        <div class="category__item-icon-inner">
          <svg class="category__item-icon">
            <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
          </svg>

        </div>
        <div class="category__item-text-inner">
          <h4 class="category__item-subtitle">Дачные дома</h4>
          <p class="category__item-fake-link">Перейти</p>
        </div>
      </a> <a class="category__item" href="#" data-bg="./assets/images/category/categori-5.png" data-bg-webp="./assets/images/category/categori-5.webp">
        <div class="category__item-icon-inner">
          <svg class="category__item-icon">
            <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-4"></use>
          </svg>

        </div>
        <div class="category__item-text-inner">
          <h4 class="category__item-subtitle">Бани</h4>
          <p class="category__item-fake-link">Перейти</p>
        </div>
      </a> <a class="category__item" href="#" data-bg="./assets/images/category/categori-6.png" data-bg-webp="./assets/images/category/categori-6.webp">
        <div class="category__item-icon-inner">
          <svg class="category__item-icon">
            <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
          </svg>
        </div>
        <div class="category__item-text-inner">
          <h4 class="category__item-subtitle">Барнхаусы</h4>
          <p class="category__item-fake-link">Перейти</p>
        </div>
      </a>
      </div>
      <div class="category__content-inner metre" data-tabs-pane>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-7.png" data-bg-webp="./assets/images/category/categori-7.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Площадь до 120 м<sup>2</sup></h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-8.png" data-bg-webp="./assets/images/category/categori-8.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Площадь более 180 м<sup>2</sup></h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-8.png" data-bg-webp="./assets/images/category/categori-8.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-3"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Площадь до 180 м<sup>2</sup></h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>
      </div>
      <div class="category__content-inner floor" data-tabs-pane>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-9.png" data-bg-webp="./assets/images/category/categori-9.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-7"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Одноэтажные дома</h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>
        <a class="category__item" href="#" data-bg="./assets/images/category/categori-10.png" data-bg-webp="./assets/images/category/categori-10.webp">
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-8"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Одноэтажные дома</h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>
        <a class="category__item category__item--overlay" href="#" data-bg="./assets/images/category/categori-11.png" data-bg-webp="./assets/images/category/categori-11.webp" >
          <div class="category__item-icon-inner">
            <svg class="category__item-icon">
              <use class="category-icon-color" xlink:href="./assets/images/svg/set.svg#category-9"></use>
            </svg>
          </div>
          <div class="category__item-text-inner">
            <h4 class="category__item-subtitle">Одноэтажные дома</h4>
            <p class="category__item-fake-link">Перейти</p>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>